<template>
    <div class="row">
        <div v-if="createPath" class="col-2">
            <BasicBlockAddNewBox :link="createPath" :type="createType"/>
        </div>
<!--        <div v-for="(track, key) in tracks" :key="key" class="col-2">-->
<!--            <BasicCardAuthor/>-->
<!--        </div>-->
      <div class="owl-carousel mt-5">
        <div>
          <Carousel :settings="carouselSettings" :breakpoints="carouselBreakpoints">
            <Slide :key="key" v-for="(author, key) in authors">
              <BasicCardAuthor :author="author" name="Preparing a cake" author="Richard F." />
            </Slide>
            <template #addons>
              <Navigation />
            </template>
          </Carousel>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      setup(){
        const carouselSettings = {
          itemsToShow: 1,
          itemsToScroll: 1,
          snapAlign: 'start',
          wrapAround: false,
        };

        const carouselBreakpoints = {
          740: {
            itemsToShow: 2,
          },
          1020: {
            itemsToShow: 5,
          }
        };

        return {carouselBreakpoints, carouselSettings}

      },
        props: {
            authors: {
                type: Array,
                default: []
            },
            createPath: {
                type: String,
                default: ''
            },
            createType: {
                type: String,
                default: 'tracks'
            }
        }
    }
</script>
