<template>
  <section class="mt-5">
    <!-- Heading -->
    <div class="text-center mb-5">
      <BasicHeading class="fs-36 mb-5 font-weight-normal primary-dark">
        Compare and choose your plan
      </BasicHeading>
    </div>
    <div class="mb-5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="pricing border-pricing row align-items-center justify-content-center">
              <BasicBlockPlanColumn>
                <div class="h-166 border-bottom-pricing">
                  <p class="fs-18 font-weight-normal mt-4 pt-1">&nbsp;</p>
                  <p class="fs-28 font-weight-normal mb-4 mt-0">&nbsp;</p>
                  <p class="mt-1">&nbsp;</p>
                </div>
                <BasicBlockPlanCell
                    v-for="(description,index) in descriptions" 
                    :key="index"
                    :dark="true"
                    :description="description"
                />
              </BasicBlockPlanColumn>
              <BasicBlockPlanColumn  v-for="(plan, index) in plans" :key="index">
                <div class="h-166 border-bottom-pricing">
                  <p class="fs-18 font-weight-normal mb-2 mt-4 pt-1">
                    {{ plan.name }}
                  </p>
                  <p class="fs-28 font-weight-normal mb-4 mt-0">
                    {{FormatCurrency(plan.original_price)}}<span class="text-theme-secondary">/mo</span>
                  </p>
                  <p class="mt-1">
                    <BasicButtonLink kind="primary" href="/auth/register">
                      Select
                    </BasicButtonLink>
                  </p>
                </div>
                <BasicBlockPlanCell :description="plan.listening_minutes_wording"/>
                <BasicBlockPlanCell :check="checkTick(plan.creator)"/>
                <BasicBlockPlanCell :check="checkTick(plan.can_cancel)"/>
                <BasicBlockPlanCell :check="checkTick(plan.share_subscription_fee)"/>
                <BasicBlockPlanCell :check="checkTick(plan.sell_content)"/>
                <BasicBlockPlanCell :check="checkTick(plan.collect_funds)"/>
              </BasicBlockPlanColumn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {useSubscriptionPlansStore} from "~/stores/subscriptionPlans";

export default {
  async setup() {

    const descriptions = [
      'Listening to Free Contents',
      'Being a Content Creator',
      'Cancel Any Time',
      'As a Creator, receive a Share of all<br> Subscription Fees',
      'Sell your Contents',
      'Use your Contents to Collect Funds<br> for a Cause'
    ];

    function checkTick(input){
      return input != "0";
    }

    const plansStore = useSubscriptionPlansStore();
    const plans = await plansStore.all;

    return {descriptions, plans, checkTick}
  }
}
</script>

<style>
    .text-left{
        text-align: left !important;
    }
    .pricing p a .c-btn {
        height: 42px !important;
        display: inline-block !important;
        padding: 9px 59px !important;
        color: #FFF;
        font-size: 16px !important;
    }
    @media (min-width: 992px) {
        .pl-lg-5, .px-lg-5 {
            padding-left: 3rem !important;
        }
    }
</style>
