<template>
  <div class="bg-blue-gradient py-5">
    <div class="footer-section-bg py-5">
      <div class="container">
        <div class="text-center py-3">
          <BasicSubHeading class="system-grey-color fs-28 color-theme mb-5 mb-5">
            Ready to watch? Enter your email to create or<br> restart your membership.
          </BasicSubHeading>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
              <FormEmailSubscriber column="6"/>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
