<template>
  <div class="my-5">
    <div class="bg-white mt-5 ml-10">
      <div class="d-lg-flex d-inline-flex flex-wrap align-items-center">
        <select style="width: 200px;" v-model="filters.genre"
                class="btn-filters mr-5 outline-unset fs-16 bg-transparent border-pricing border btn  text-bg-dark"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option disabled value="">Select genre</option>
          <option v-for="genre in genres" :value="genre.id">{{ genre.name }}</option>
        </select>
        <Vue3TagsInput :tags="filters.tags"
                       style="padding-top: 7px;"
                       class="btn-filters pr-6rem mr-5 outline-unset fs-16 bg-transparent border-pricing border text-bg-dark"
                       placeholder="Enter the tag"
                       @on-tags-changed="handleChangeTag"
        />
        <select v-model="filters.sort"
                class="btn-filters mr-3 outline-unset fs-16 bg-transparent border-pricing border btn text-bg-dark"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option selected value="">Sort by</option>
          <option value="created_at__desc">New first</option>
          <option value="created_at__asc">Old first</option>
          <option value="title__asc">from A to Z</option>
          <option value="title__desc">from Z to A</option>
        </select>
        <div class="mr-4">
          <label class="switch mb-0">
            <input v-model="filters.free" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="mr-10 ml-3">
          <span class="position-relative left-22 fs-16 text-bg-dark font-weight-normal">Free listening</span>
        </div>

        <div class="">
          <span @click="submit">
            <BasicButton kind="outline" :loading="loader"
                         class="px-5 btn-filters filter-btn cursor-pointer outline-unset fs-18 c-btn-price color-fb border-fb bg-white px-5">
              <b>Filter</b>
            </BasicButton>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {useGenresStore} from "~/stores/genres";
import {useTrackStore} from "~/stores/tracks";

export default {

  async setup() {
    const genreStore = useGenresStore();
    const {$tracksService} = useNuxtApp()
    const trackStore = useTrackStore();
    const filters = ref({});

    onMounted(() => {

      filters.value = trackStore.filterForm;
    })

    const genres = ref(await genreStore.all);
    const loader = ref(false);


    async function submit() {
      loader.value = true;
      const response = await $tracksService.filter(
          filters.value.genre,
          filters.value.tags,
          filters.value.sort,
          filters.value.free,
      );
      if (response.success) {
        loader.value = false;
        trackStore.filterForm.value = filters.value;
        trackStore.filteredTracks.value = response.data;
        navigateTo('/track/filter')
      }
    }

    function handleChangeTag(tags) {
      filters.value.tags = tags;
    }

    return {genres, filters, submit, loader, handleChangeTag}
  }


}
</script>

<style scoped>
.filter-btn:hover {
  background-color: #5390c6 !important;
  color: #fff !important;
  border: 1px solid #5390c6 !important;
}

.btn-filters.mr-5, .mr-5 {
  margin-right: 4rem !important;
}

.mr-10 {
  margin-right: 6rem !important;
}

.pr-6rem {
  padding-right: 6rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

@media only screen and (max-width: 992px) {
  .btn-filters.mr-5, .mr-5 {
    margin-right: 1rem !important;
  }

  .mr-10 {
    margin-right: 1rem !important;
  }

  .pr-6rem {
    padding-right: 1rem !important;
  }

  .btn-filters {
    width: 100%;
  }
}

.ml-10 {
  margin-left: 10px;
}
</style>