<template>
  <div class="">

    <div class="mt-2 mb-5">
      <BasicBlockSectionHeading
          heading="All my uploaded tracks"
          seeMorePath="/tracks"
      />
      <CommonSectionTracksListing
          :tracks="tracks"
          :isEdit="true"
          createPath="/track/upload"
      />
    </div>

    <div class="mt-2 mb-5">
      <BasicBlockSectionHeading
          heading="All my uploaded stations"
          seeMorePath="/stations"
      />
      <CommonSectionStationsListing
          :stations="stations"
          :isEdit="true"
          createPath="/station/create"
      />
    </div>

  </div>
</template>

<script>
import {useStationsStore} from "~/stores/stations";
import {useTrackStore} from "~/stores/tracks";
export default {
  data() {
    return {
      stations: [],
      tracks: []
    }
  },

  async mounted(){
    const stationStore = useStationsStore();
    const trackStore = useTrackStore();
    this.stations = await stationStore.load();
    this.tracks = await trackStore.loadByUser();
  },
}
</script>

<style scoped>

</style>