<template>
  <section class="mt-5 pt-1" id="hero">
    <div class="user-profile-bg mt-5 pb-5 pt-5">
      <div class="">
        <div class="container">
          <!--          <div v-if="isEdit" class="mb-lg-0 mb-4 text-center d-flex align-items-center justify-content-lg-end justify-content-center">-->
          <!--            <input type="file" accept="image/*" v-on:change="onCoverPic" name="cover_photo" ref="file_cover" style="display: none" />-->
          <!--            <BasicButton @click="$refs.file_cover.click()" icon="camera" kind="white">-->
          <!--              Update banner-->
          <!--            </BasicButton>-->
          <!--          </div>-->
          <!--          <div class="mb-lg-0 mb-4 text-center d-flex align-items-center justify-content-lg-end justify-content-center">-->
          <!--            <button type="submit" class="upload-banner update py-2 fs-14 d-flex align-items-center justify-content-start text-bg-dark btn bg-white border-0">-->
          <!--              <img class="img-fluid mr-2" src="http://chhogori.epigontech.com/assets/svgs/Camera.svg" alt="">-->
          <!--              Update banner-->
          <!--            </button>-->
          <!--          </div>-->
          <div class="row align-items-center">
            <div class="col-lg-3 text-left">
              <div class="d-flex flex-wrap align-items-start justify-content-start">
                <BasicImg class="profile-image" :src="profileImage"/>
                <div v-if="isEdit"
                     class="ml-4 position-relative text-center d-flex align-items-center justify-content-center top-minus-47">
                  <input type="file" accept="image/*" v-on:change="onProfilePic" name="cover_photo" ref="file_profile"
                         style="display: none"/>
                  <BasicButton @click="$refs.file_profile.click()" icon="camera"
                               class="px-3 update py-2 fs-14 d-flex align-items-center justify-content-start text-bg-dark btn bg-white border-0 hero-input-btn"
                               kind="white">
                    Update image
                  </BasicButton>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <h1 class="text-bg-dark fs-28 fs-md-28 mt-4">
                {{ user.full_name }}
              </h1>
              <p class="mb-0 fs-18 text-bg-dark font-weight-normal">
                {{ user.email }} {{ user.membership }}
              </p>
              <div v-if="isEdit && user.membership != 1" class="mt-5 mb-4">
                <span class="mr-4 primary-dark-color fs-16 ">
                  Free account
                </span>
                <BasicButtonLink href="/buy-plans" kind="white"
                                 class="text-purple primary-dark-color border-purple px-4 font-weight-500">
                  Upgrade
                </BasicButtonLink>
              </div>
              <div class="mt-3">
                <div class="row align-items-center justify-content-start">
                  <div class="col-lg-3">
                    <p class="mb-0 fs-16 text-theme-secondary font-weight-normal">
                      Followers
                    </p>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-0 fs-16 text-theme-secondary font-weight-normal">
                      Following
                    </p>
                  </div>
                  <div class="col-lg-3 hide d-none">
                    <p class="mb-0 fs-16 text-theme-secondary font-weight-normal">
                      Messages
                    </p>
                  </div>
                </div>
                <div class="row align-items-center justify-content-start">
                  <div class="col-lg-3">
                    <p class="mb-0 fs-18 font-weight-normal mt-1">
                      {{countFollowers ?? '-'}}
                    </p>
                  </div>
                  <div class="col-lg-3">
                    <p class="mb-0 fs-16 font-weight-normal mt-1">
                      {{countFollowings ?? '-'}}
                    </p>
                  </div>
                  <div class="col-lg-3 d-none hide">
                    <p class="mb-0 fs-16 font-weight-normal mt-1">
                      -
                    </p>
                  </div>
                </div>
              </div>
              <div v-if="!isEdit" class="mt-3">
                <BasicFollowButton @follow="followCounter" :user="user" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {useProfileStore} from "~/stores/profile";
import {useNuxtApp} from "#imports";
import {onMounted, watch, watchEffect} from "vue";

export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object
    }
  },
  async setup(props) {

    const countFollowers = ref(0);
    const countFollowings = ref(0);
    const profileImage = ref("/images/user_placeholder.png");
    const coverImage = ref("");

    watch(() => props.user, (first, second) => {
      if(props.user.id){
        countFollowers.value =  props.user.followers;
        countFollowings.value = props.user.followings;
        if (props.user.profile_photo) {
          profileImage.value = props.user.profile_photo;
        }

        if (props.user.cover_photo) {
          coverImage.value = props.user.cover_photo;
        }
      }
    });

    onMounted(() => {

    })

    const profileStore = useProfileStore();


    const {$auth} = useNuxtApp();

    function followCounter(val){
      if(val){
        countFollowers.value = countFollowers.value + 1;
      }else{
        countFollowers.value = countFollowers.value - 1;
      }
    }



    function onProfilePic(event) {
      let imageObject = event.target.files[0] ?? null;
      if (imageObject) {
        profileStore.inputField.profile.value = imageObject;
        profileImage.value = URL.createObjectURL(imageObject);
      }
    }

    function onCoverPic(event) {
      let imageObject = event.target.files[0] ?? null;
      if (imageObject) {
        profileStore.inputField.cover.value = imageObject;
        coverImage.value = URL.createObjectURL(imageObject);
      }
    }

    return {onCoverPic, onProfilePic, profileImage, coverImage, followCounter, countFollowers, countFollowings}
  }
}
</script>
<style>
.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}

.update.text-bg-dark {
  color: #131A20 !important;
  background-color: #ffffff !important;
}

.text-purple.primary-dark-color > .primary-dark-color {
  color: #C638C8 !important;
  border: 1px solid #C638C8;
  border-radius: 4px;
}

.text-purple.primary-dark-color .c-btn:hover {
  background-color: #c638c8 !important;
  color: #fff !important;
}

</style>