<template>
  <div class="h-screen">
    <div class="loader" v-if="loading"></div>
    <NuxtLayout>
      <NuxtLoadingIndicator color="#C638C8" />
      <NuxtPage/>
    </NuxtLayout>
  </div>
</template>

<script setup lang="ts">
  const nuxtApp = useNuxtApp();
  const loading = ref(false);
  nuxtApp.hook("page:start", () => {
    loading.value = true;
  });
  nuxtApp.hook("page:finish", () => {
    loading.value = false;
  });
</script>