<template>
  <div class="comments mt-4">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-2 col-md-6 col-sm-6 text-bg-dark fs-18 font-weight-normal">{{count}} comments</div>
      <div class="col-lg-2 col-md-6 col-sm-6 d-none p-0 border-0">
        <select
            class=" p-0 m-0 inputGroupSelect01 d-inline  btn-filters outline-unset text-bg-dark fs-18 border-0 btn dropdown-toggle font-weight-normal"
            id="inputGroupSelect01">
          <option selected="" class="text-bg-dark">Sort by</option>
          <option value="1">new first</option>
          <option value="2">old first</option>
          <option value="3">most popular</option>
          <option value="3">most unpopular</option>
        </select>
      </div>
    </div>
    <div class="mt-5">

          <FormComment
              :track-id="trackId"
              :show="true"
          />

      <div v-for="(comment, key) in comments" :key="key"
           class="reply-card-wrapper border-b border-gray-300 pt-6 pb-8">
        <div class="px-10">
          <BasicCardComment :track-id="trackId" :comment="comment"/>
          <div v-if="comment.children && comment.children.length > 0">
            <div v-for="(childComment, index) in comment.children" :key="index"
                 class="pl-5 border-l border-gray-200 mt-7">
              <BasicCardComment
                  :track-id="trackId"
                  :comment="childComment"
                  :isChild="true"
              />
              <div v-if="childComment.children && childComment.children.length > 0">
                <div v-for="(subChildComment, count) in childComment.children" :key="count"
                   style="padding-left: 10px;"  class="pl-5 border-l border-gray-200 mt-7">
                  <BasicCardComment
                      :isChild="true"
                      :track-id="trackId"
                      :comment="subChildComment"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <p v-if="comments.length === 0" class="text-theme-secondary fs-16 mt-4 mb-5">There are no comments here yet</p>
  <br>
  </div>
</template>

<script>
import {useTrackCommentsStore} from "~/stores/trackComments";
import {nextTick, onMounted} from "#imports";

export default {
  props: {
    trackId: {
      type: Number,
      required: true,
    },
    count: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      addComment: false
    };
  },
  methods: {
    closeComment(output) {
      this.addComment = output;
    },
    commentsCounter(){

    }
  },

  computed: {
    comments() {
        const {getByTrack} = useTrackCommentsStore();
        return getByTrack(this.trackId);
    },
    commentsCounter(){

    }
  },
  async setup(props, {emit}) {
    const {byTrackId, getByTrack} = useTrackCommentsStore();

   // const comments = ref([]);

    onMounted(async () => {
      await nextTick(async () => {
        await byTrackId(props.trackId);
      });
    });

    return {getByTrack}
  },
};
</script>
