<template>
    <div class="listing-track mb-5 pb-3">
        <p class="fs-28 text-bg-dark font-weight-normal mt-5 mb-4">Listening to a track</p>
        <div class="">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-8">
                    <div class="mb-2">
                        <div class="border-bottom border-top py-2">
                            <div class="row align-items-center justify-content-center">
                                <div class="col text-center">
                                    <button type="submit"
                                            class="w-100 add-new-genre fs-14 d-flex align-items-center justify-content-start text-theme-secondary  btn-block btn c-btn bg-white border-b-theme-secondary border hero-input-btn mt-md-0 border-0">
                                        <div class="col-lg-4 col-2 text-center">
                                            <img class="img-fluid mr-2 rem-3" src="/images/icons/plus-genre.png" alt="">
                                        </div>
                                        <span class="col-lg-5 col-9 fs-18 m-l-7" style="text-align: left">Add new track to this station</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="position-relative">
                            <div class="myDIV">
                                <div class="border-bottom border-top py-2">
                                    <div class="px-2 d-flex align-items-center justify-content-between hover-track-card">
                                        <div class="col-lg-1">
 <span class="mr-3">
                                                  <img class="img-fluid feature-1-hover" src="/images/Recsdtangle30.png"
                                                       alt="">
                                                </span>

                                        </div>
                                        <div class="col-lg-3 text-center">
                                            <span class="mr-5 text-theme-secondary fs-16 font-weight-normal">1</span>
                                        </div>

                                        <div class="col-lg-6">
                                            <span class="mr-3 text-bg-dark fs-18 font-weight-normal">The story of my life </span>

                                        </div>
                                        <div class="col-lg-2 text-center">
                                                          <span class="mr-4 text-bg-dark fs-16 font-weight-normal"><span
                                                                  class="border-otp text-purple bg-opt px-2 py-1 fs-12">$ OPT</span></span>
                                                <span class="ml-4 text-theme-secondary fs-18 font-weight-normal">3:59</span>

                                        </div>

                                    </div>
                                    <div class="hover-stuff position-absolute">
                                        <div class="px-2 d-flex align-items-center justify-content-between">
                                                    <span class="mr-3">
                                                      <img class="img-fluid feature-1-hover"
                                                           src="/images/Recsdtangle30.png" alt="">
                                                    </span>
                                            <span class="mr-4 text-theme-secondary fs-16 font-weight-normal">1 hover</span>
                                            <span class="mr-3 text-bg-dark fs-18 font-weight-normal">The story of my life </span>
                                            <span class="mr-3 text-bg-dark fs-16 font-weight-normal"><span
                                                    class="border-otp text-purple bg-opt px-2 py-1 fs-12">$ OPT</span></span>
                                            <span class=" text-theme-secondary fs-18 font-weight-normal">3:59</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="py-2">
                                        <div class="px-2 d-flex align-items-center justify-content-between w-100">
                                            <div class="col-lg-1 col-md-1 col-sm-2">
 <span class="mr-3">
                                                  <img class="img-fluid feature-1-hover" src="/images/Recsdtangle30.png"
                                                       alt="">
                                                </span>

                                            </div>
                                            <div class="col-lg-3 col-md-2 col-sm-1 text-center">
                                                <span class="mr-5 text-theme-secondary fs-16 font-weight-normal">1</span>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-3">
                                                <span class="mr-3 text-bg-dark fs-18 font-weight-normal">The story of my life </span>

                                            </div>
                                            <div class="col-lg-4 col-md-5 col-sm-6 text-right px-0 stream-icons">
                                                <div class="d-flex align-items-center justify-content-end">
                                                            <span class="mr-4 text-theme-secondary  fs-16 font-weight-normal"><img
                                                                    class="img-fluid"
                                                                    src="http://chhogori.epigontech.com/assets/svgs/Heart-light.svg"
                                                                    alt=""></span>
                                                    <span class="mr-4 text-theme-secondary fs-16 font-weight-normal"><img
                                                            class="img-fluid"
                                                            src="http://chhogori.epigontech.com/assets/svgs/Upload-light.svg"
                                                            alt=""></span>
                                                    <span class="mr-3 text-theme-secondary fs-16"><img
                                                            class="img-fluid"
                                                            src="http://chhogori.epigontech.com/assets/svgs/Paper Plus-ico-4.svg"
                                                            alt=""></span>
                                                    <span class="dropdown mr-4 text-theme-secondary fs-16 font-weight-normal">
                                                                      <button class="text-theme-secondary fs-16 font-weight-normal btn p-0 m-0 border-0 bg-transparent"
                                                                              type="button" id="dropdownMenuButton"
                                                                              data-toggle="dropdown"
                                                                              aria-haspopup="true"
                                                                              aria-expanded="false">
                                                                        <i class="bi bi-three-dots-vertical mr-2"></i>
                                                                      </button>
                                                                      <div class="dropdown-menu"
                                                                           aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item"
                                                                           href="#">Play it next</a>
                                                                        <a class="dropdown-item text-purple" href="#">Go to the author's page</a>
                                                                        <a class="dropdown-item" href="#">Download</a>
                                                                      </div>
                                                        </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Listening"
    }
</script>

<style scoped>
.rem-3{
    margin-left: 3.5rem;
}
    .m-l-7{
        margin-left: -7px;
    }
@media only screen and (max-width: 768px) {
    .rem-3{
        margin-left:0 !important;
    }
    .m-l-7{
        margin-left: 0!important;
    }
}
@media only screen and (max-width: 576px) {
    .stream-icons .img-fluid {
        height: 15px !important;
        width: 15px !important;
    }
    .stream-icons .mr-3 ,  .stream-icons .mr-4{
        margin-right: 0.5rem !important;
    }
}
</style>