<template>
  <div class="row align-items-center justify-content-between">
    <div class="col-lg-8">
      <span  @click="like(!isLiked)" :class="isLiked ? 'filled' : 'text-bg-dark'" class="mr-lg-5 cursor-pointer mr-3  fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Heart" />
        Like
      </span>
      <span  @click="follow(!isFollowed)"  :class="isFollowed ? 'filled' : 'text-bg-dark'"  class="mr-lg-5  mr-3  cursor-pointer fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Bookmark" />
        Follow
      </span>
      <span class="mr-lg-5  mr-3 cursor-pointer text-bg-dark fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Document" />
        Copy link
      </span>
      <span class="mr-lg-5  mr-3 cursor-pointer text-bg-dark fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Upload" />
        Share
      </span>
      <span class=" text-bg-dark fs-16 cursor-pointer font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Paper Plus-ico" />
        Add to playlist
      </span>
    </div>
    <div class="col-lg-4 text-right">
      <span style="margin-right: 20px;" class="track-icons text-theme-secondary fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Heart-light" />
        {{ likeCounter }}
      </span>
      <span style="margin-right: 20px;"  class="track-icons text-theme-secondary fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
         <BasicSvgIcon class="mr-2" icon="2 User-light" />
        {{ followCounter }}
      </span>
      <span style="margin-right: 20px;"  class="track-icons text-theme-secondary fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
        <BasicSvgIcon class="mr-2" icon="Upload-light" />
        {{ shareCounter }}
      </span>
    </div>
  </div>
</template>

<script>
import {useTrackStore} from "~/stores/tracks";
export default {

  setup(){
    const trackStore = useTrackStore();
    const nuxtApp = useNuxtApp();
    return {trackStore, nuxtApp}
  },

  props: {
    trackId: {
      type: String
    }
  },

  data() {
    return {
      isLiked: false,
      isFollowed: false,
    }
  },

  computed: {
    likeCounter(){
      return this.trackStore.likeCounter;
    },
    shareCounter(){
      return this.trackStore.shareCounter;
    },
    followCounter(){
      return this.trackStore.followCounter;
    },
  },

  methods: {
    async like(flag){
      if(flag){
        this.trackStore.incrementLike();
        this.isLiked = true;
        let response =  await this.nuxtApp.$tracksService.like(this.trackId);
        if(response.success){
          this.nuxtApp.$notify('Liked Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.trackStore.decrementLike();
          this.isLiked = false;
        }

      }else{
        this.trackStore.decrementLike();
        this.isLiked = false;
        let response =  await this.nuxtApp.$tracksService.unlike(this.trackId);
        if(response.success){
          this.nuxtApp.$notify('Unliked Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.trackStore.incrementLike();
          this.isLiked = true;
        }
      }
    },
    async follow(flag){
      if(flag){
        this.trackStore.incrementFollow();
        this.isFollowed = true;
        let response =  await this.nuxtApp.$tracksService.follow(this.trackId);
        if(response.success){
          this.nuxtApp.$notify('Follow Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.trackStore.decrementFollow();
          this.isFollowed = false;
        }
      }else{
        this.trackStore.decrementFollow();
        this.isFollowed = false;
        let response =  await this.nuxtApp.$tracksService.unfollow(this.trackId);
        if(response.success){
          this.nuxtApp.$notify('Unfollow Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.trackStore.decrementFollow();
          this.isFollowed = false;
        }
      }
    }
  }
}
</script>

<style>
  span.track-icons{
    margin-right: 3rem !important;
  }
</style>