<template>
    <div class="row align-self-center">
        <div class="h-700 mt-5" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle5"
             aria-hidden="true">
            <div  ref="fileform" class="modal-dialog modal-dialog-centered flex-wrap mt-5 pt-5" role="document">
                <div class="modal-content py-5 px-3 upload-shadow bg-white">
                    <div class=" text-center border-0 pt-0">
                        <BasicSvgIcon class="upload-track-svg text-center" icon="Upload-up"/>
                        <!--              <img class="img-fluid" src="{{asset('assets/svgs/Upload-up.svg')}}" alt="">-->
                        <h5 class="mt-3 modal-title fs-28  font-weight-400 text-center" id="exampleModalLongTitle">
                            Drag and drop to upload your file
                        </h5>
                    </div>
                    <div class="modal-body border-0 pt-0 pb-0">
                        <p class=" fs-18 mb-2 mt-1 text-center font-weight-400 mt-3 mb-4">OR</p>
                        <div class="custom-file mb-0 no-content d-flex align-items-center justify-content-center">
                            <div class="col-lg-4 col-12">
                                <input style="display: none;" type="file"
                                       accept=".mp3,audio/*"
                                       v-on:change="onBrowse"
                                       class="border-input-file btn custom-file-input text-left btn-filters outline-unset fs-16 "
                                       id="customFile" name="filename">
                                <label class=" mb-0 custom-file-label choose-track  fs-16 font-weight-normal" for="customFile">
                                    Choose a file
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="(file, key) in files" style="pointer-events: all !important;" class="file-listing mt-3">
                    <!--            <img class="preview" v-bind:ref="'preview'+parseInt( key )"/>-->
                    {{ file.name }}
                    <div @click="removeFile( key )" class="remove-container">
                        <p class="remove cursor-pointer" >Remove</p>
                    </div>
                </div>
            </div>

            <div class="mt-5 pt-2 modal-content bg-transparent w-100 pt-0 pb-4 modal-footer border-0 text-center align-items-center justify-content-center">
                <span  @click="uploadTrack()">
                  <BasicButton class="upload-track">
                    Upload track
                </BasicButton>
                </span>
            </div>
        </div>
    </div>

</template>

<script>
import {useTrackStore} from "~/stores/tracks";

export default {
  /*
    Variables used by the drag and drop component
  */
  data() {
    return {
      dragAndDropCapable: false,
      files: [],
      uploadPercentage: 0
    }
  },

  setup(){
    const nuxtApp = useNuxtApp();
    const trackStore = useTrackStore();
    return {nuxtApp, trackStore}
  },

  mounted() {
    /*
      Determine if drag and drop functionality is capable in the browser
    */
    this.dragAndDropCapable = this.determineDragAndDropCapable();

    /*
      If drag and drop capable, then we continue to bind events to our elements.
    */
    if (this.dragAndDropCapable) {
      /*
        Listen to all of the drag events and bind an event listener to each
        for the fileform.
      */
      ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
        /*
          For each event add an event listener that prevents the default action
          (opening the file in the browser) and stop the propagation of the event (so
          no other elements open the file in the browser)
        */
        this.$refs.fileform.addEventListener(evt, function (e) {
          e.preventDefault();
          e.stopPropagation();
        }.bind(this), false);
      }.bind(this));

      if(this.trackStore.trackField.audio.name)
        this.files.push(this.trackStore.trackField.audio);


      /*
        Add an event listener for drop to the form
      */
      this.$refs.fileform.addEventListener('drop', function (e) {
        /*
          Capture the files from the drop event and add them to our local files
          array.
        */
        //for (let i = 0; i < e.dataTransfer.files.length; i++) {
          this.uploadAudio(e.dataTransfer.files[0]);
       // }
      }.bind(this));
    }
  },

  methods: {

    uploadAudio(audio){
      if (audio && /\.(mp3|wav|aac)$/i.test(audio.name)) {
        this.files = [];
        this.files.push(audio);
        this.trackStore.trackField.audio = audio;
        this.getImagePreviews();
      }else{
        this.nuxtApp.$notify('File must be audio/mp3', 'error')
      }
    },

    /*
      Determines if the drag and drop functionality is in the
      window
    */
    determineDragAndDropCapable() {
      /*
        Create a test element to see if certain events
        are present that let us do drag and drop.
      */
      var div = document.createElement('div');

      /*
        Check to see if the `draggable` event is in the element
        or the `ondragstart` and `ondrop` events are in the element. If
        they are, then we have what we need for dragging and dropping files.

        We also check to see if the window has `FormData` and `FileReader` objects
        present so we can do our AJAX uploading
      */
      return (('draggable' in div)
              || ('ondragstart' in div && 'ondrop' in div))
          && 'FormData' in window
          && 'FileReader' in window;
    },

    /*
      Gets the image preview for the file.
    */
    getImagePreviews() {
      /*
        Iterate over all of the files and generate an image preview for each one.
      */
      for (let i = 0; i < this.files.length; i++) {
        /*
          Ensure the file is an image file
        */
        if (/\.(mp3|wav|aac)$/i.test(this.files[i].name)) {
          /*
            Create a new FileReader object
          */
          let reader = new FileReader();

          /*
            Add an event listener for when the file has been loaded
            to update the src on the file preview.
          */
          // reader.addEventListener("load", function () {
          //   this.$refs['preview' + parseInt(i)][0].src = reader.result;
          // }.bind(this), false);

          /*
            Read the data for the file in through the reader. When it has
            been loaded, we listen to the event propagated and set the image
            src to what was loaded from the reader.
          */
          reader.readAsDataURL(this.files[i]);
        } else {
          /*
            We do the next tick so the reference is bound and we can access it.
          */

          // this.$nextTick(function () {
          //   this.$refs['preview' + parseInt(i)][0].src = '/images/file.png';
          // });
        }
      }
    },

    /*
      Submits the files to the server
    */
    uploadTrack() {
      if(this.trackStore.trackField.audio.name){
        this.trackStore.uploadStep = 2;
      }else{
        this.nuxtApp.$notify('Please upload audio first', 'error')
      }

    },

    onBrowse(event){
      let audio = event.target.files[0] ?? null;
      if(audio){
        this.uploadAudio(audio);
      }

    },

    /*
      Removes a select file the user has uploaded
    */
    removeFile(key) {
      this.files.splice(key, 1);
      this.trackStore.trackField.audio = {};
    }
  }
}
</script>
<style>
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 600px !important;
            margin: 1.75rem auto !important;
            margin-top: 1.75rem !important;
        }
    }
    .upload-track{
        border-radius: 4px !important;
    }
    .upload-track-svg svg{
        width: 60px !important;
    }
    .choose-track{
            border-radius: 4px !important;
        height: calc(2.5rem + 2px) !important;
    }

    .choose-track:hover{
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    }
</style>