<template>
    <section class="">
        <div class="bg-blue-gradient">
            <div class="hero-section-bg">
                <div class="py-5 my-5">
                    <div class="my-5">
                        <div class="container">
                            <div class="row justify-content-around align-items-start">
                                <div class="col-lg-12">
                                    <div class="row m-top">
                                        <div class="col-md-5 " data-aos="fade-right">
                                            <BasicHeading
                                                    class="system-grey-color fs-36 color-theme font-weight-normal">
                                                How Does It Work?
                                            </BasicHeading>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="">
                                                <p class="mb-3 system-grey-color fs-18 font-weight-normal">
                                                    If you have something to say which you feel is worth sharing, simply
                                                    record a voice message and post it on CHHOGORI.
                                                </p>
                                                <p class="mb-3 system-grey-color fs-18 font-weight-normal">
                                                    If you are a listener, well, just surf, listen and learn!
                                                </p>
                                                <p class="mt-4 pt-2">
                                                    <BasicButtonLink href="/auth/register" kind="primary">
                                                        Free Sign Up
                                                    </BasicButtonLink>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-9 col-12 text-center">
                                                <img class="img-fluid" src="/images/tablet.png" alt="">
                                                <BasicSubHeading class="system-grey-color mt-5 py-5">
                                                    CHHOGORI Rewards Content Creation
                                                </BasicSubHeading>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <div class="row align-items-start">
                                            <div class="col-md-5  aos-init aos-animate" data-aos="fade-right">
                                                <h1 class="border-l-purple fs-18 color-theme font-weight-normal pl-4 line-height-25">
                                                    <span class="my-2 pl-2 d-inline-block">25% of all subscription fees are re-distributed to content creators. How much a creator receives is based on the time a specific content was aired, thus encouraging the creation of quality contents. Computations are done weekly.</span>
                                                </h1>
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-5">
                                                <div class="">
                                                    <h1 class="border-l-purple fs-18 color-theme font-weight-normal pl-4 line-height-25">
                                                        <span class="my-2 pl-2 d-inline-block">Creators are free to request additional payment from listeners for the content they provide, for themselves or for a cause they support. Creators may also decide whether such payments should be mandatory or optional.</span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {}
</script>
<style>
    .hero-section-bg a .c-btn {
        height: 48px !important;
        display: inline-block !important;
        padding: 12px 35px !important;
        color: #FFF;
        font-size: 16px !important;
        border: none;
    }

    .pl-4, .px-4 {
        padding-left: 1.5rem !important;
    }
    .font-weight-normal {
        font-weight: 400 !important;
    }
    .work-img{
        margin-top: 6rem !important;
    }

</style>