<template>
  <section v-if="questions.length > 0" class="mt-5">
    <div class="text-center mb-5">
      <BasicHeading>
        Frequently Asked Questions
      </BasicHeading>
    </div>
    <div class="mb-5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8">
            <div v-for="(question, index) in questions" :key="question.title"
                 class="card cursor-pointer accordion-card border-bottom-pricing pb-1">

              <div @click="handleAccordion(index)" class="card-header bg-transparent px-0 border-0 pb-0">
                <BasicSubHeading
                    :class="[
                        'Panel fs-20 pt-2 pb-2 m-0 primary-dark-color text-left d-block-inline',
                        {Active: question.isExpanded,}
                    ]"
                >
                  Question #{{ index + 1 }} - {{ question.title }}
                </BasicSubHeading>
                <div class="accordion-plus-icon mt-3">
                  <img src="/images/icons/plus-genre.png">
                </div>
                <Collapse as="section" :when="question.isExpanded" class="v-collapse">
                  <p class="mb-3">
                    {{ question.answer }}
                  </p>
                </Collapse>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {reactive} from 'vue'
import {useFaqsStore} from "~/stores/faqs";

export default {
  async setup() {
    const faqStore = useFaqsStore();
    const faqs = ref(await faqStore.all);

    const questions = reactive(
        faqs.value.map(({title, answer, id}, index) => ({
          title,
          answer,
          id,
          isExpanded: false,
        }))
    )

    function handleAccordion(selectedIndex) {
      questions.forEach((_, index) => {

        questions[index].isExpanded = index === selectedIndex ? !questions[index].isExpanded : false
      })
    }

    return {questions, handleAccordion};
  }
}
</script>

<style>
.collapse {
  transition: height 600ms cubic-bezier(0.3, 0, 0.6, 1);
}
  .d-block-inline{
    display: inline-block;
  }
  .accordion-plus-icon{
    float: right;
  }
</style>