<template>
  <section class="hero-section" id="hero">
    <div class="container">
      <div class="row align-items-center waves-parent-homepage">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-6">
              <BasicTopHeading data-aos="fade-right system-grey-color mb-2">
                Fresh opinions about<br> a changing world
              </BasicTopHeading>
              <p class="mb-5 system-grey-color" data-aos="fade-right" data-aos-delay="100">
                Speak and Listen, Share and Discover. Anywhere, Anytime
              </p>
              <FormEmailSubscriber/>
            </div>
            <div class="col-lg-6">
              <BasicImg src="/images/vectors-hero.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
}
</script>
