<template>
  <section>
    <div class="container">
      <div class="text-center m-top">
        <BasicHeading class="mb-2 pt-5 jnt-heading-36">
          Share Your Opinions, Ideas or<br>
          Knowledge, Or Discover New Ones
        </BasicHeading>
      </div>
      <CommonSectionTracksSliderListing
          :tracks="tracks"
      />
    </div>
  </section>
</template>

<script>
export default {
  setup(){
    const carouselSettings = {
      itemsToShow: 1,
      itemsToScroll: 1,
      snapAlign: 'start',
      wrapAround: false,
    };

    const carouselBreakpoints = {
      740: {
        itemsToShow: 2,
      },
      1020: {
        itemsToShow: 5,
      }
    };

    const tracks = [
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
    ];

    return {carouselBreakpoints, carouselSettings, tracks}

  }
}
</script>
<style>
  .m-top{
    margin-top: 5rem !important;
  }
</style>