<template>
  <section class="pt-5 mt-3">
    <div class="container">
      <div class="row align-items-start waves-parent-homepage">
        <div class="col-md-5" data-aos="fade-right">
          <BasicImg src="/images/mic-intro-section.png" alt=""/>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
          <div class="col-md-9">
            <BasicHeading class="mb-4 jnt-heading-36">Together, let’s elevate the conversation. Above the noise</BasicHeading>
            <p class="mb-3 jnt-paragraph-18">
              CHHOGORI is an audio-platform to address all topics that make our world, where a multitude of views can be exchanged in a spirit of fraternity and progress.
            </p>
            <p class="mb-4 jnt-paragraph-18">
              Share or discover new and refreshing ideas born from experience, expertise or thinking, on topics as diverse as Art, Science, Politics, Business, Family, World Affairs, Food, Self-awareness etc…
            </p>
            <BasicButtonLink href="/auth/register" btn-class="text-white" kind="primary">
              Free Sign Up
            </BasicButtonLink>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Intro"
}
</script>

<style>
  .waves-parent-homepage .jnt-paragraph-18{
    font-size: 18px;
    line-height: 28px;
    color: #131A20;
  }
  .col-md-6 div  a .c-btn {
    display: inline-block;
    font-size: 16px !important;
    height: 48px !important;
    color: #FFFFFF !important;
    padding: 12px 35px !important;
  }
  .c-btn.bg-purple:hover{
    background-color: #fff !important;
    color:#c638c8 !important;
    border: 1px solid #c638c8 !important;
  }
</style>