<template>

  <main id="main" v-if="track.image">
      <BasicSectionHeaderTrack
        :track="track"
      />
      <div class="container">
        <div class="bg-white mt-5">
          <BasicSectionTrackNavigateActions :track-id="track.id"/>
          <BasicSectionTrackListening/>
          <CommonSuspenseLoader>
            <BasicSectionTrackComments
              :track-id="track.id"
              :count="commentsCounter"
            />
          </CommonSuspenseLoader>
        </div>
      </div>
  </main>

</template>

<script>
import {useRoute} from "#imports";
import {useTrackStore} from "~/stores/tracks";
import {useTrackCommentsStore} from "~/stores/trackComments";
export default {

  async setup(){

    definePageMeta({
      middleware: "auth"
    })

    const trackStore = useTrackStore();
    const commentStore = useTrackCommentsStore();

    return {  trackStore, commentStore };
  },


  computed: {
    commentsCounter(){
      return this.commentStore.commentsCounter;
    }
  },

  data(){
    return {
      track: {}
    }
  },

  async mounted(){
    const route = useRoute();
    this.track = await this.trackStore.single(route.params.id);
    this.commentStore.updateCommentCounter(this.track.comments);
    this.trackStore.setLikeCounter(this.track.likes);
    this.trackStore.setFollowCounter(this.track.followers);
    this.trackStore.setShareCounter(this.track.shares);
  },


}
</script>
