<template>
  <main id="main">
    <BasicSectionHeaderOfferedTrack/>
    <div class="container">
      <div class="bg-white mt-5">
        <CommonSectionFilters/>
        <div class="mt-4 mb-5">
          <CommonSectionTracksListing v-if="filterTracks.length" :tracks="filterTracks"/>
          <p class="text-center" v-else>no tracks found</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import {useTrackStore} from "~/stores/tracks";
export default {

  setup(){
    const trackStore = useTrackStore();
    return {trackStore}
  },

  computed: {
    filterTracks(){
      return this.trackStore.filteredTracks.value;
    }
  },

}
</script>
