<template>

  <div class="container mt-100">
    <div class="bg-white my-5">
      <CommonSuspenseLoader>
      <BasicSectionTrackUpload v-if="trackStore.uploadStep === 1"/>
      <FormUploadTrack v-else />
      </CommonSuspenseLoader>
    </div>
  </div>
</template>

<script>
import {useTrackStore} from "~/stores/tracks";
export default {
  setup(){
    const nuxtApp = useNuxtApp();
    const trackStore = useTrackStore();
    return {nuxtApp, trackStore}
  }
}

</script>