<template>
    <BasicLink :href="href" class="btn-hover underline ">
      <BasicButton :kind="kind" :loading="loading" :type="type" :class="btnClass">
          <slot></slot>
      </BasicButton>
    </BasicLink>
</template>

<script>
    export default {
      props: {
        href: {
          type: String,
          default: '/'
        },
        type: {
          type: String,
          default: 'button'
        },
        kind: {
          type: String,
          default: 'primary'
        },
        loading: {
          type: Boolean,
          default: false
        },
        btnClass:{
          type: String,
          default: ''
        }
      },
    }
</script>

