<template>
  <button
          :type="type"
          v-bind="$attrs"
          class="btn c-btn"
          :class="byKind()"
          :disabled="loading"
          @click="$emit('click')"
  >
    <span v-if="!loading" class="mr-2">
      <BasicSvgIcon v-if="icon && !iconAfter" :cssClass="iconClass" :icon="icon" />
      <span>
        <slot></slot>
      </span>
      <BasicSvgIcon v-if="icon && iconAfter" :cssClass="iconClass" :icon="icon" />
    </span>
    <i v-if="loading" class="fa fa-circle-o-notch fa-spin"></i>
  </button>
</template>

<script>
    export default {
        props: {
          type: {
            type: String,
            default: 'button'
          },
          kind: {
            type: String,
            default: 'primary'
          },
          loading: {
            type: Boolean,
            default: false
          },
          icon: {
            type: String,
            default: ''
          },
          iconClass: {
            type: String,
            default: ''
          },
          iconAfter: {
            type: Boolean,
            default: false
          }
        },
        methods:{
          byKind(){
            switch (this.kind){
              case 'primary':
                return 'bg-purple text-white';
              case 'secondary':
                return 'bg-fb text-white';
              case 'white':
                return 'bg-white text primary-dark-color';
              case 'outline':
                return 'border ';
            }
            return '';
          }
        }
    }
</script>

