<template>
  <span v-if="currentUserId !== user.id" @click="onFollow">
    <BasicButton :loading="followLoader" kind="white"
                 class="text-purple primary-dark-color border-purple font-weight-500">
      {{ isFollow ? 'Unfollow' : 'Follow' }}
    </BasicButton>
  </span>
</template>

<script>
import {onMounted} from "vue";

export default {
   props: {
     user: {
       type: Object
     }
   },

  async setup(props, { emit }) {

    const followLoader = ref(false)
    const nuxtApp = useNuxtApp();
    const isFollow = ref(false);

    const currentUserId = nuxtApp.$auth.user.data.id;

    onMounted(() => {
      isFollow.value = props.user.is_follow;
    })

    async function onFollow() {
      followLoader.value = true;
      if (isFollow.value) {
        const response = await nuxtApp.$profileService.unfollow(props.user.id);
        if (response.success) {
          emit('follow', false);
          isFollow.value = false;
          nuxtApp.$notify('Successfully unfollowed!')
        }else{
          nuxtApp.$notify(response.data[0], 'error')
        }
      } else {
        const response = await nuxtApp.$profileService.follow(props.user.id);
        if (response.success) {
          isFollow.value = true;
          emit('follow', true);
          nuxtApp.$notify('Successfully followed!')
        }else{
          nuxtApp.$notify(response.data[0], 'error')
        }
      }
      followLoader.value = false;
    }

    return {
      followLoader,
      isFollow,
      onFollow,
      currentUserId
    }
  }
}
</script>

