<template>
  <div>
    <br>
    <div class="position-relative">
      <hr class="my-2">
      <span class="inline fs-18 text-theme-secondary bg-white position-absolute position-or ">
        {{title}}
      </span>
    </div>
    <br>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'OR'
    }
  }
}
</script>
