<template>
  <img class="img-fluid" :src="src" :alt="alt">
</template>

<script>
export default {
  name: "Img",
  props: {
    src: {
      type: String,
      default: ""
    },
    alt: {
      type: String,
      default: ""
    }
  }
}
</script>
