<template>
  <NuxtLink :to="href" class="cursor-pointer underline">
    <BasicSvgIcon v-if="icon" :icon="icon"/>
    <slot></slot>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: '/'
    },
    icon: {
      type: String,
      default: ''
    }
  }
}
</script>

