<template>
  <div class="logo">
    <h1>
      <NuxtLink :to="logoLink">
        <BasicImg :src="imgAttr.src" :alt="imgAttr.alt"/>
      </NuxtLink>
    </h1>
  </div>
</template>
<script>

import {useRuntimeConfig} from "#imports";

export default {
  data: function () {
    const config = useRuntimeConfig();
    return {
      logoLink: '/',
      imgAttr: {
        src: '/images/main-site-logo.png',
        alt: config.public.siteName + ' Logo',
      }
    };
  },
}
</script>