<template>
  <VueFinalModal
      class="flex justify-center items-center" :class="modalClass"
      content-class="flex flex-col p-4 bg-white dark:bg-black rounded border border-gray-100 dark:border-gray-800"
      @update:model-value="val => emit('update:modelValue', val)"
  >
    <div class="flex items-center h-10">
      <ClientOnly>
        <div @click="emit('close')" class="close cursor-pointer text-right pr-3">
          <span aria-hidden="true">
            <BasicImg src="/images/Clossde.png" />
          </span>
        </div>
      </ClientOnly>
      <div class=" border-0 pt-0 align-items-center justify-content-center">
        <h5 class="modal-title fs-28 text-bg-dark font-weight-normal text-center" id="exampleModalLongTitle">
          {{ title }}
        </h5>
        <p v-if="subheading" class="modal-title fs-16 text-theme-secondary font-weight-normal text-center mt-3" id="">
          {{subheading}}
        </p>
      </div>
    </div>
    <slot />
  </VueFinalModal>
</template>

<script setup lang="ts">
import { VueFinalModal } from 'vue-final-modal'
import { useVfm } from 'vue-final-modal'

defineProps<{
  title?: string,
  subheading?: string,
  modalClass?: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', modelValue: boolean): void,
  (e: 'close'): void,

}>()
</script>


<style>



.vfm__content {
  max-width: 500px !important;
  margin: 8rem auto;
  height: 30vh !important;
}

.chooseGenre .vfm__content {
  max-width: 890px !important;
  height: 70vh !important;
}


.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
</style>

