<template>
    <BasicSvg ref="root" v-show="showIcon" :path="svgPath" class="!inline-block w-4" />
</template>
<script>
    export default {
        props: {
            icon: {
                type: String,
                default: null
            },
            hasFill: {
                type: Boolean,
                default: false
            },
            growByHeight: {
                type: Boolean,
                default: true
            },
            viewBox: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                showIcon: false,
                svgPath: ''
            };
        },

        methods: {
            recursivelyRemoveFill(el) {
                if (!el) {
                    return;
                }
                el.removeAttribute("fill");
                [].forEach.call(el.children, child => {
                    this.recursivelyRemoveFill(child);
                });
            }
        },

        async mounted() {
            if (process.client && this.icon) {
                await import(`../../assets/svg/${this.icon}.svg`).then((res) => {
                    this.svgPath = res.default;
                }).catch(reason => {
                    console.log(reason)
                });
            }

            if (!this.$refs.root) return false;

            const svgElement = this.$refs.root.$el.firstElementChild;

            if (svgElement && svgElement.nodeName === "svg") {
                svgElement.setAttribute("fill", 'inherit');

                svgElement.removeAttribute('width');
                svgElement.removeAttribute('height');

                if (this.viewBox)
                    svgElement.setAttribute("viewBox", this.viewBox);

                if (this.hasFill)
                    this.recursivelyRemoveFill(svgElement);

                this.showIcon = true;
            }
        }
    };
</script>

