<template>
  <div v-show="show" class="mb-2 mt-2">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-1 col-md-3 col-sm-12 pr-0">
            <span
                class="mr-3 fs-16 font-weight-normal text-white wh-60 rounded-circle d-flex align-items-center justify-content-center text-center bg-green-comment">
              Me
            </span>
      </div>
      <div class="col-lg-7 col-md-9 col-sm-12 ml-minus-35">
        <div class="custom-file justify-content-start custom-file-comment m-0">
          <input type="text" v-model="message"
                 :disabled="loader"
                 class="w-100 custom-file-input inputGroupSelect01 text-left btn-filters fs-16 border-0 text-theme-secondary"
                 id="customFile" placeholder="Add your comment...">
          <label v-if="!loader" @click="sendResponse" class="custom-file-label text-left text-theme-secondary fs-14 font-weight-500" for="customFile">&nbsp;</label>
          <BasicLoader v-if="loader"/>
        </div>
        <p v-show="error" class="text-danger mt-2 mb-0">
          {{ error }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {useTrackCommentsStore} from "~/stores/trackComments";
import moment from "moment";

export default {
  name: "MArticleCommentForm",
  setup() {
    const trackCommentsStore = useTrackCommentsStore();
    return {trackCommentsStore}
  },
  props: {
    show: {
      type: Boolean
    },
    parentCommentId: {
      type: Number,
      default: null
    },
    trackId: {
      type: String
    },
  },
  data() {
    return {
      message: "",
      error: "",
      loader: false
    };
  },
  watch: {
    message() {
      this.error = "";
    }
  },
  methods: {
    closeForm() {
      this.$emit("close", false);
    },
    async sendResponse() {
      if (!this.message)
        this.error = "Please, write response first...";
      if (this.message) {
        const {$trackCommentsService, $auth} = useNuxtApp()
        this.loader = true;
        let response = await $trackCommentsService.new(
            this.trackId,
            this.message,
            this.parentCommentId
        );
        if (response.success) {
          this.closeForm();
          this.loader = false;
          const commentStore = useTrackCommentsStore();
          commentStore.updateCommentCounter(1);
          await this.trackCommentsStore.addNewComment({
            track_id: this.trackId,
            parent: this.parentCommentId,
            data: {
              id: response.data.comment_id,
              content: this.message,
              user: $auth.user.data.full_name,
              user_slug: $auth.user.data.full_name,
              user_image: $auth.user.data.profile_photo,
              created: moment().format('MMM D, YYYY'),
              children: []
            }
          });
          this.message = '';
        } else {
          console.log(response.data);
        }
      }
    }
  }
};
</script>
<style>
  .ml-minus-35{
    margin-left: -35px;
  }
  .reply-comment-logo{
   text-align: right;
  }
  @media (max-width: 576px) {
    .ml-minus-35{
      margin-left: 0px;
    }
    .ml-minus-35 .custom-file{
      margin-top: 15px !important;
    }
    .reply-comment-logo, .reply-comments  {
      text-align: left;
      margin-left: 15% !important;
    }
 .reply-comments  {
      text-align: left;
      margin-left: 20% !important;
    }
    .reply-parent-comment {
      text-align: left;
      margin-left: 5% !important;
      margin-top: 1rem !important;
    }
    .btn-filters {
      margin-bottom: 1rem;
      display: block;
      width: 30%;
    }

    .reply-form  .custom-file{
      width: 80%;
    }
    .reply-form .custom-file-comment .custom-file-label {
      width: 20%;
    }

  }
  @media (max-width: 992px) {
    .reply-form {
      margin-left: -20%;

    }
    .reply-form .bg-green-comment{
      display: none !important;
    }
  }
</style>