<template>
  <div class="mt-5 pt-5">
    <p class="fs-28 ">Create a station</p>
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="station-form"
        :actions="false"
        @submit="saveStation"
    >
      <div class="row">
        <div class="col-md-12">
          <div class="custom-file border rounded mb-3 track-label">
            <input style="display: none" type="file"
                   accept="image/*"
                   class="btn custom-file-input inputGroupSelect01 border-b-theme-secondary border w-100 mt-md-0 mb-3 mr-3 rounded bg-white text-secondary"
                   v-on:change="coverPhotoSave"
                   id="customFile" name="filename">
            <label class="custom-file-label w-100 text-theme-secondary font-weight-normal" for="customFile">
                          <span class="mr-3">
                            <BasicSvgIcon icon="camera"/>
                          </span>
              Upload image
            </label>
          </div>
        </div>
        <div v-if="coverImage" class="col-md-12 mb-3">
          <BasicImg width="100" :src="coverImage" alt=""/>
        </div>
        <div class="col-md-12">
          <FormKit
              type="text"
              name="title"
              label="Title"
              placeholder="Title"
              v-model="formFields.title"
              validation="required|length:5"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="select"
              name="genre"
              label="Select Genre"
              placeholder="Select genre"
              :options="genresDropDown"
              v-model="formFields.genre"
              validation="required"
          />
        </div>
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label for="" class="form-label">Tags</label>
            <Vue3TagsInput :tags="tags"
                           style="padding-top: 7px;"
                           class="border w-100 mt-md-0 hero-input rounded bg-white text-secondary"
                           placeholder="Type and enter the tag"
                           @on-tags-changed="handleChangeTag"
            />
          </div>

        </div>
        <div class="col-md-12">
          <FormKit
              type="textarea"
              name="description"
              label="Short Description"
              rows="10"
              v-model="formFields.description"
              validation="required|length:5"
          />
        </div>
        <div class="col-md-12">
          <div class="modal-footer border-0 text-center align-items-center justify-content-center">
            <BasicButton kind="outline" class="m-2">
              Cancel
            </BasicButton>
            <BasicButton :loading="loader" type="submit" class="m-2">
              {{formFields.title ? 'Update' : 'Create'}}
            </BasicButton>
          </div>
        </div>
      </div>

    </FormKit>
  </div>
</template>

<script>

import {useGenresStore} from "~/stores/genres";
import {useStationsStore} from "~/stores/stations";
import {onMounted} from "vue";

export default {
  async setup() {

    const nuxtApp = useNuxtApp();
    const coverImage = ref('');
    const imageObject = ref({});
    const route = useRoute();
    const tags = ref([]);
    const loader = ref(false);
    const errors = ref([])
    const stationStore = useStationsStore();

    const formFields = ref({
      title: '',
      genre: '',
      tags: [],
      description: ''
    })

    const genreStore = useGenresStore();
    const genresDropDown = ref({});

    onMounted(async () => {
      const genres = await genreStore.all;

      let gDrop = {};
      if (genres.value.length) {
        genres.value.forEach((genre) => {
          gDrop[genre.id] = genre.name;
        })
        genresDropDown.value = gDrop;
      }
    })

    if(route.params.id){
      const station = await stationStore.single(route.params.id);
      formFields.value = {
        title: station.title,
        genre: station.genre_id,
        tags: station.tags,
        description: station.description
      }

      tags.value = station.tags

    }

    const redirect = route.query.redirect ?? 'my-uploads';

    function coverPhotoSave(event) {
      let imageObject1 = event.target.files[0] ?? null;
      if (imageObject1) {
        imageObject.value = imageObject1;
        coverImage.value = URL.createObjectURL(imageObject1);
      }

    }



    async function saveStation(input){

      if(!coverImage.value){
        nuxtApp.$notify('Please select station photo', 'error');
        return ;
      }

      if(!tags.value.length){
        nuxtApp.$notify('Please enter tags', 'error');
        return ;
      }

      loader.value = true;
      let response = {}
      let message = "Created Successfully!"

      if(route.params.id) {
        message = "Updated Successfully!"
        response = await nuxtApp.$stationsService.update(
            route.params.id,
            imageObject.value,
            input.title,
            input.description,
            input.genre,
            tags.value
        );
      }else{
        response = await nuxtApp.$stationsService.create(
            imageObject.value,
            input.title,
            input.description,
            input.genre,
            tags.value,
        );
      }

      loader.value = false;
      if (response.success) {
        nuxtApp.$notify(message);
        await navigateTo('/'+redirect, { redirectCode: 301 })
      }else {
        errors.value = response.data;
      }

    }

    function handleChangeTag(tagsArray){
      tags.value = tagsArray;
    }

    return {
      imageObject,
      coverImage,
      coverPhotoSave,
      genresDropDown,
      saveStation,
      handleChangeTag,
      tags,
      errors,
      loader,
      formFields
    }
  }
}
</script>

<style scoped>

</style>