<template>
  <div class="no-label">
    <FormKit
        type="form"
        id="reset-form"
        class="form-inline"
        :actions="false"
        @submit="subscribe"
    >
      <div class="row">
        <div :class="`col-lg-${column}`">
          <FormKit
              type="text"
              name="email"
              label=""
              placeholder="Email"
              validation="required|email"
              input-class="mt-md-0 mr-3"
              label-class="$reset d-none"
              v-model="email"
          />
        </div>
        <div class="col-lg-4">
          <BasicButton :loading="loader" kind="primary" type="submit" class="hero-input-btn border-0 pull-left text-white mt-md-0 mb-3">
            Get started
          </BasicButton>
        </div>
      </div>
    </FormKit>
  </div>
</template>

<script>
import {useNuxtApp, useRouter} from "#imports";
export default {

  props:{
    column:{
      type: String,
      default: '8'
    }
  },

  async setup(props) {

    const {$notify, $subscribersService} = useNuxtApp();
    const loader = ref(false)
    const email = ref('');

    async function subscribe(input) {
      loader.value = true;
      const response = await $subscribersService.create(
          input.email,
      );
      loader.value = false;
      if(response.success){
        email.value = '';
        $notify('Subscribed, Successfully');
      }else{
        response.data.forEach(error => {
          $notify(error, 'error');
        });
      }
    }

    return {loader, subscribe, email}
  },
}
</script>
