<template>
  <div class="">
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="profile-form"
        :actions="false"
        @submit="saveProfile"
    >
      <div class="row">
        <div class="col-md-6">
          <FormKit
              type="text"
              name="first_name"
              label="First name"
              placeholder="First name"
              validation="required"
              v-model="fields.first_name"
          />
        </div>
        <div class="col-md-6">
          <FormKit
              type="text"
              name="last_name"
              label="Last name"
              placeholder="Last name"
              validation="required"
              v-model="fields.last_name"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="text"
              name="username"
              label="User name"
              placeholder="User name"
              validation="required"
              v-model="fields.username"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="email"
              name="email"
              label="Email"
              placeholder="Email"
              validation="required|email"
              v-model="fields.email"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="select"
              name="country_id"
              label="Select country"
              placeholder="Select country"
              :options="countriesDropDown"
              v-model="fields.country_id"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="text"
              name="paypal_account"
              label="Paypal"
              placeholder="Email paypal account"
              v-model="fields.paypal_account"
          />
        </div>
        <div class="col-md-12">
          <FormKit
              type="textarea"
              name="bio"
              label="Bio"
              placeholder="Enter bio"
              rows="10"
              validation="required"
              v-model="fields.bio"
          />
        </div>
        <div class="col-md-12">
          <div class="modal-footer border-0 text-center align-items-center justify-content-center">
            <BasicButtonLink kind="outline" class="m-2" to="/profile">
              Cancel
            </BasicButtonLink>
            <BasicButton :loading="loader" type="submit" class="m-2">
              Save
            </BasicButton>
          </div>
        </div>
      </div>
    </FormKit>
  </div>
</template>

<script>
import {useNuxtApp} from "#imports";
import {useProfileStore} from "~/stores/profile";
import {useCountriesStore} from "~/stores/countries";
import {reactive} from "vue";

export default {
  async setup(){

    const countriesStore = useCountriesStore();
    const {$notify, $profileService, $auth} = useNuxtApp();
    const profileStore = useProfileStore();
    const loader = ref(false)
    const errors = ref([])
    const countries = ref(await countriesStore.all);
    const countriesDropDown = ref({});

    let cDrop = {};
    if(countries.value.length){
      countries.value.forEach((country) => {
        cDrop[country.id] = country.name;
      });
      countriesDropDown.value = cDrop;
    }

    const fields = ref({
      first_name: null,
      last_name: null,
      username: null,
      email: null,
      paypal_account: null,
      bio: null,
      country_id: null,
      password: null
    })

    const profile = await profileStore.single($auth.user.data.username);

    if(profile){
      fields.value = profile;
    }

    async function saveProfile(input){
      loader.value = true;
      const response = await $profileService.update(
          input.first_name,
          input.last_name,
          input.username,
          input.email,
          input.paypal_account,
          input.bio,
          input.country_id,
          null,
          profileStore.inputField.profile.value ?? null,
          profileStore.inputField.cover.value ?? null,
      );
      loader.value = false;
      if(response.success){
        const router = useRouter();
        $notify("Updated Successfully!")
        await navigateTo('/profile')
      }else{
        errors.value = response.data;
      }
    }

    return {
      countriesDropDown,
      saveProfile,
      errors,
      loader,
      fields
    };
  }
}
</script>
