<template>
  <div class="h-700">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="mt-5 pt-5">
          <p class="fs-28 ">Track Details</p>
          <div class="">
            <CommonValidationErrors :errors="errors"/>
            <FormKit
                type="form"
                id="profile-form"
                :actions="false"
                @submit="saveTrack"
            >
              <div class="">
                <div class="row" v-show="trackStore.uploadStep === 2">
                  <div class="col-md-12">
                    <div class="custom-file border rounded mb-3 track-label">
                      <input style="display: none" type="file"
                             accept="image/*"
                             class="btn custom-file-input inputGroupSelect01 border-b-theme-secondary border w-100 mt-md-0 mb-3 mr-3 rounded bg-white text-secondary"
                             v-on:change="coverPhotoSave"
                             id="customFile" name="filename">
                      <label class="custom-file-label w-100 text-theme-secondary font-weight-normal" for="customFile">
                          <span class="mr-3">
                            <BasicSvgIcon icon="camera"/>
                          </span>
                        Upload image
                      </label>
                    </div>
                  </div>
                  <div v-if="coverImage" class="col-md-12 mb-3">
                    <BasicImg width="100" :src="coverImage" alt=""/>
                  </div>
                  <div class="col-md-12">
                    <FormKit
                        type="text"
                        name="title"
                        v-model="trackStore.trackField.title"
                        label="Title"
                        placeholder="Title"
                        validation="required|length:5"
                    />
                  </div>
                  <div class="col-md-12">
                    <FormKit
                        type="select"
                        name="genre"
                        v-model="trackStore.trackField.genre"
                        label="Select Genre"
                        validation="required"
                        placeholder="Select genre"
                        :options="genresDropDown"
                    />
                  </div>

                  <div class="col-md-12">
                    <div class="form-group mb-3">
                      <label for="" class="form-label">Tags</label>
                      <Vue3TagsInput :tags="trackStore.trackField.tags"
                                     style="padding-top: 7px;"
                                     class="border w-100 mt-md-0 hero-input rounded bg-white text-secondary"
                                     placeholder="Type and enter the tag"
                                     @on-tags-changed="handleChangeTag"
                      />
                    </div>

                  </div>
                  <div class="col-md-12">
                    <FormKit
                        type="textarea"
                        name="description"
                        v-model="trackStore.trackField.description"
                        label="Short Description"
                        rows="10"
                        validation="required|length:5"
                    />
                  </div>
                </div>
                <div class="row" v-show="trackStore.uploadStep == 3">
                  <div class="col-md-12">
                    <FormKit
                        type="radio"
                        name="type"
                        v-model="trackStore.trackField.type"
                        label="Do you want to upload this track as solo file, or in one of your existing stations?"
                        :options="{
                          1: 'Solo file',
                          0: 'Top-down stations list',
                        }"
                    />
                    <div v-if="trackStore.trackField.type == 0" class="mb-2 mb-2">
                      <p class="fs-16">
                        <span class="font-weight-700">*Note:</span> You can create a new station from your account.
                        <BasicLink to="/create-station?redirect=upload-track" class="color-fb text-decoration-underline ">
                          Follow the link here.
                        </BasicLink>
                      </p>
                    </div>
                  </div>

                  <div v-if="trackStore.trackField.type == 0" class="col-md-12">
                    <FormKit
                        type="select"
                        name="station"
                        label="Select Station"
                        v-model="trackStore.trackField.station_id"
                        placeholder="Select station"
                        :options="stationsDropDown"
                    />
                  </div>

                  <div class="col-md-4">
                    <FormKit
                        type="radio"
                        name="additional_payment"
                        v-model="trackStore.trackField.additional_payment"
                        label="Additional Payment To Author"
                        :options="options"
                    />
                  </div>

                  <div  class="col-md-8 no-label">
                    <div v-if="trackStore.trackField.additional_payment == 2" class="field-box">
                      <FormKit
                          type="text"
                          name="amount"
                          placeholder="Additional Payment Amount"
                          v-model="trackStore.trackField.amount"
                          validation="number"
                      />
                    </div>

                  </div>

                  <div class="col-md-4">
                    <FormKit
                        type="radio"
                        v-model="trackStore.trackField.charity_contribution"
                        name="charity_contribution"
                        label="Charity Contribution"
                        :options="options"
                    />
                  </div>

                  <div  class="col-md-8 ">

                    <div v-show="trackStore.trackField.charity_contribution === 2" class="field-box">
                      <div class="col-md-12 no-label">
                        <FormKit
                            type="text"
                            name="charity_name"
                            v-model="trackStore.trackField.charity_details.name"
                            placeholder="Charity Name"
                        />
                      </div>

                      <div class="col-md-12 no-label">
                        <FormKit
                            type="text"
                            name="charity_account"
                            v-model="trackStore.trackField.charity_details.account"
                            placeholder="Charity Account"

                        />
                      </div>

                      <div class="col-md-12 no-label">
                        <FormKit
                            type="text"
                            name="charity_amount"
                            v-model="trackStore.trackField.charity_details.amount"
                            validation="number"
                            placeholder="Charity Amount"
                        />
                      </div>
                    </div>


                  </div>
                </div>

                <div class="col-md-12 mt-5 ">
                  <div class="modal-footer border-0 text-center align-items-center justify-content-center">

                    <span @click="backButton">
                      <BasicButton kind="outline" class="m-2">
                      Back
                    </BasicButton>
                    </span>
                    <BasicButton :loading="loader" type="submit" class="m-2">
                      {{ trackStore.uploadStep === 2 ? 'Next' : 'Save' }}
                    </BasicButton>
                  </div>
                </div>
              </div>
            </FormKit>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {useTrackStore} from "~/stores/tracks";
import {useGenresStore} from "~/stores/genres";
import {useStationsStore} from "~/stores/stations";
import {onMounted} from "vue";


export default {
  async setup() {

    const nuxtApp = useNuxtApp();
    const trackStore = useTrackStore();
    const genreStore = useGenresStore();
    const stationStore = useStationsStore();
    const genresDropDown = ref({});
    const stationsDropDown = ref({});
    const errors = ref([])
    const loader = ref(false)
    const genres = ref(await genreStore.all);

    const stations = ref(await stationStore.load());

    let gDrop = {};
    if (genres.value.length) {
      genres.value.forEach((genre) => {
        gDrop[genre.id] = genre.name;
      })
      genresDropDown.value = gDrop;
    }

    setStation();

   function setStation(){
     let sDrop = {};
     if (stations.value && stations.value.length) {
       stations.value.forEach((station) => {
         sDrop[station.id] = station.title;
       })
       stationsDropDown.value = sDrop;
     }
   }

    const tags = ref([]);
    const coverImage = ref('');

    trackStore.trackField.tags = trackStore.trackField.tags ?? [];

    function coverPhotoSave(event) {
      let imageObject = event.target.files[0] ?? null;
      if (imageObject) {
        trackStore.trackField.image = imageObject;
        coverImage.value = URL.createObjectURL(imageObject);
      }
    }

    function handleChangeTag(tags) {
      trackStore.trackField.tags = tags;
    }

    async function saveTrack(input) {
      if (trackStore.uploadStep === 2) {
        if(!trackStore.trackField.tags.length){
          nuxtApp.$notify('Please enter tags', 'error');
          return ;
        }

        if(!coverImage.value){
          nuxtApp.$notify('Please select cover photo', 'error');
          return ;
        }

        trackStore.uploadStep = 3;
      } else {

        if(trackStore.trackField.type == 0 && !trackStore.trackField.station_id){
          nuxtApp.$notify('Please select station', 'error');
          return ;
        }

        if(
            trackStore.trackField.charity_contribution != 0 &&
            !trackStore.trackField.charity_details.account &&
            !trackStore.trackField.charity_details.amount &&
            !trackStore.trackField.charity_details.name
        ){
          nuxtApp.$notify('Please add charity details', 'error');
          return ;
        }

        loader.value = true;

        const route = useRoute();
        let response = {}
        let message = "Created Successfully!"

        if(route.params.id){
          message = "Updated Successfully!"
          response = await nuxtApp.$tracksService.update(
              route.params.id,
              trackStore.trackField.audio,
              trackStore.trackField.image,
              trackStore.trackField.title,
              trackStore.trackField.description,
              trackStore.trackField.genre,
              trackStore.trackField.tags,
              trackStore.trackField.type,
              trackStore.trackField.additional_payment,
              trackStore.trackField.charity_contribution,
              trackStore.trackField.amount,
              JSON.stringify(trackStore.trackField.charity_details),
              trackStore.trackField.station_id,
          );
        }else{
          response = await nuxtApp.$tracksService.create(
              trackStore.trackField.audio,
              trackStore.trackField.image,
              trackStore.trackField.title,
              trackStore.trackField.description,
              trackStore.trackField.genre,
              trackStore.trackField.tags,
              trackStore.trackField.type,
              trackStore.trackField.additional_payment,
              trackStore.trackField.charity_contribution,
              trackStore.trackField.amount,
              JSON.stringify(trackStore.trackField.charity_details),
              trackStore.trackField.station_id,
          );
        }


        loader.value = false;
        if (response.success) {
          nuxtApp.$notify(message);
          trackStore.uploadStep = 1;
          trackStore.resetFields();
          const router = useRouter();
          return await router.push('/my-uploads');
        } else {
          errors.value = response.data;
        }

      }
    }

    function backButton() {
      trackStore.uploadStep--;
    }

    const options = [
      {label: 'None', value:0,  attrs: { disabled: false } },
      {label: 'Optional', value:1,  attrs: { disabled: false } },
      {label: 'Must', value:2,  attrs: { disabled: false } }
    ];

    return {
      nuxtApp,
      trackStore,
      genresDropDown,
      handleChangeTag,
      tags,
      coverPhotoSave,
      coverImage,
      saveTrack,
      backButton,
      stationsDropDown,
      options,
      errors,
      loader,
      setStation
    }
  },

  mounted() {
    console.log('mounted track')
    this.setStation();
  }
}

</script>
