<template>
  <div
      class="border-bottom-pricing h-74 text-left pl-lg-5 pl-4 fs-16 row align-items-center justify-content-center">
    <p v-if="!check && description" class="mb-0">
      <span v-if="!description">&nbsp;</span>
      <span
          v-if="description"
          v-html="description"
          :class="dark ? 'primary-dark-color' :'light-color'" class="f-16"
      ></span>
    </p>
    <div class="mb-0 text-center" v-else>
      <BasicImg v-if="check" src="/images/icons/tick.png"/>
      <p v-else class="border-bottom text-center w-18">&nbsp;</p>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    check: {
      type: Boolean,
      default: false
    },
    description: {
      type: String,
      default: ''
    },
    dark: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style>

</style>