<template>
 <div
     class="height-pricing bg-white col-lg-4 px-0 border-bottom-0 border-top-0 border-right-pricing text-center">
    <slot></slot>
 </div>
</template>

<script>
export default {
  name: "Column"
}
</script>
