<template>
  <div class="container">
    <div class="bg-white my-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
          <FormCreateStation/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
