<template>
  <BasicCardAuth title="Reset Password">
    <template v-slot:default>
      <FormAuthForget/>
    </template>
  </BasicCardAuth>
</template>

<script>
import {definePageMeta} from "#imports";
export default {
  async setup() {
    definePageMeta({
      layout: 'auth',
      middleware: 'guest',
    });
  }
}
</script>
