<template>
  <div class="no-label">
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="reset-form"
        :actions="false"
        @submit="checkEmail"
    >
      <FormKit
          type="text"
          name="email"
          label=""
          placeholder="Email"
          validation="required|email"
          label-class="$reset d-none"
      />
      <BasicButton :loading="loader" type="submit" class="w-100 hero-input-btn">
        <b>Send Password Reset Link</b>
      </BasicButton>
    </FormKit>
  </div>
</template>

<script>
import {useNuxtApp, useRouter} from "#imports";
export default {

  async setup(props) {

    const {$notify, $authService} = useNuxtApp();
    const loader = ref(false)
    const errors = ref([])

    async function checkEmail(input) {
      loader.value = true;
      const response = await $authService.forgotPassword(
          input.email
      );
      loader.value = false;
      if(response.success){
        $notify('Reset Password Link Sent, Successfully');
        const router = useRouter();
        return await router.push('/auth/login');
      }else{
        errors.value = response.data;
      }
    }

    return {loader, checkEmail, errors}
  },
}
</script>

