<template>
  <div class="no-label">
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="login-form"
        :actions="false"
        @submit="login"
    >
      <FormKit
          type="text"
          name="email"
          label=""
          placeholder="Username or Email"
          validation="required"
          label-class="$reset d-none"
      />
      <FormKit
          type="password"
          name="password"
          label=""
          validation="required"
          placeholder="Password"
          label-class="$reset d-none"
      />
      <BasicButton :loading="loader" type="submit" class="w-100 hero-input-btn">
        <b>Sign In</b>
      </BasicButton>
      <div class="row mt-2 align-items-center justify-content-between">
        <div class="col">
          <FormKit
              type="checkbox"
              name="remember"
              label="Remember me"
          />
        </div>
        <div class="col text-right">
          <BasicLink href="/auth/password/forget" class="fs-14 pull-right text-theme-secondary font-weight-normal" >
            Forget password?
          </BasicLink>
        </div>
      </div>
    </FormKit>
  </div>
</template>

<script>

import {useNuxtApp, useRouter} from "#imports";
export default {
  async setup() {

    const {$notify, $authService, $auth} = useNuxtApp();
    const loader = ref(false)
    const errors = ref([])

    async function login(input) {
      loader.value = true;
      const response = await $authService.login(
          input.email,
          input.password
      );
      loader.value = false;
      if(response.success){
        await $auth.setUserToken(response.data.token);
        $notify('Authenticated Successfully!');
        const router = useRouter();
        return await router.push('/tracks');
      }else{
        errors.value = response.data;
      }
    }

    return {loader, login, errors}
  },
}
</script>

