<template>
  <div class="no-label">
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="regiter-form"
        :actions="false"
        @submit="register"
    >
      <FormKit
          type="text"
          name="username"
          label=""
          placeholder="Username"
          validation="required|?length:5"
          label-class="$reset d-none"
      />
      <FormKit
          type="text"
          name="email"
          label=""
          placeholder="Email"
          validation="required|email"
          label-class="$reset d-none"
      />
        <FormKit
            type="password"
            name="password"
            label=""
            validation="required|?length:8"
            placeholder="Password"
            label-class="$reset d-none"
        />

      <BasicButton :loading="loader" type="submit" class="w-100 hero-input-btn">
        <b>Sign Up</b>
      </BasicButton>
      <div class="row mt-2 align-items-center justify-content-between">
        <div class="col">
          <FormKit
              type="checkbox"
              name="newsletter"
              label="Sign up for newsletters"
          />
        </div>
      </div>
    </FormKit>
  </div>
</template>

<script>
import {useNuxtApp, useRouter} from "#imports";
export default {
  async setup(props) {
    const {$notify, $authService, $auth} = useNuxtApp();
    const loader = ref(false)
    const errors = ref([])
    async function register (input) {
      loader.value = true;
      const response = await $authService.register(
          input.username,
          input.email,
          input.password
      );
      loader.value = false;
      if(response.success){
        await $auth.setUserToken(response.data.token);
        $notify('Authenticated Successfully!');
        const router = useRouter();
        return await router.push('/');
      }else{
        errors.value = response.data;
      }
    }
    return {loader, register, errors}
  },
}
</script>

