<template>
  <div class="no-label">
    <CommonValidationErrors :errors="errors"/>
    <FormKit
        type="form"
        id="reset-form"
        :actions="false"
        @submit="reset"
    >
      <FormKit
        type="hidden"
        name="token"
        v-model="token"
      />
      <FormKit
          type="text"
          name="email"
          label=""
          placeholder="Email"
          validation="required|email"
          label-class="$reset d-none"
          v-model="email"
      />
      <FormKit
          type="password"
          name="password"
          label=""
          placeholder="Password"
          validation="required|?length:8"
          label-class="$reset d-none"
      />
      <FormKit
          type="password"
          name="password_confirm"
          label=""
          placeholder="Confirm Password"
          validation="required|confirm"
          label-class="$reset d-none"
      />
      <BasicButton :loading="loader" type="submit" class="w-100 hero-input-btn">
        <b>Reset Password</b>
      </BasicButton>
    </FormKit>
  </div>
</template>

<script>
import {useRoute, useNuxtApp} from "#imports";
export default {
  async setup(props) {

    const {$notify, $authService} = useNuxtApp();
    const loader = ref(false)
    const errors = ref([])

    async function reset(input) {
      loader.value = true;
      const response = await $authService.resetPassword(
          input.token,
          input.email,
          input.password,
          input.password_confirm
      );
      loader.value = false;
      if(response.success){
        $notify('Password Reset Successfully!');
        const router = useRouter();
        return await router.push('/auth/login');
      }else{
        errors.value = response.data;
      }
    }
    const route = useRoute();
    const token = route.params.token;
    const email = route.query.email ?? '';
    return {loader, reset, email,token,errors}
  },
}
</script>

