<template>
  <footer class="py-4 default" role="contentinfo">
    <div class="py-1">
      <div class="container footer-container short-container">
        <div class="row justify-content-around align-items-start">
          <div class="col-lg-10">
            <div class="row justify-content-center text-center align-items-center ms-auto">
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Cookie Policy
                </BasicLink>
              </div>
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Privacy
                </BasicLink>
              </div>
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Legal
                </BasicLink>
              </div>
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Consent Manager
                </BasicLink>
              </div>
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Imprint
                </BasicLink>
              </div>
              <div class="col px-0">
                <BasicLink class="light-color fs-16">
                  Creator Resources
                </BasicLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
}
</script>
