<template>
  <ClientOnly>
    <Suspense>
      <template #default>
        <slot></slot>
      </template>
      <template #fallback>
        <BasicLoader/>
      </template>
    </Suspense>
  </ClientOnly>
</template>

<script>
export default {
}
</script>