<template>
  <div>
    <BasicButton @click="socialLogin('facebook')" kind="secondary" class="mb-3" :class="btnClasses">
      <BasicImg src="/images/icons/facebook.png" class="mr-2 text-white"/>
      Continue with Facebook
    </BasicButton>
    <BasicButton class="text-dark"  @click="socialLogin('google')" kind="outline" :class="btnClasses">
      <BasicImg src="/images/icons/google.png" class="mr-2"/>
      Continue with Google
    </BasicButton>
    <BasicHrSeperator/>
  </div>
</template>

<script>
import {useNuxtApp} from '#imports';
export default {

  setup() {
    const btnClasses = 'fs-16 d-flex w-100 align-items-center justify-content-center btn-block hero-input-btn mt-md-0';
    const {$config} = useNuxtApp();
    function socialLogin(service) {
      window.location.href = `${$config.public.apiBaseUrl}auth/login/${service}`;
    }
    return {btnClasses,socialLogin}
  }

}
</script>
<style>
  .text-dark{
    color: #343a40 !important;
  }
  .formkit-label{
    position: relative;
    top: 5px;
  }
  .hero-input-btn img{
    position: relative;
    top: -3px;
  }
  .hero-input-btn {
    padding: 12px 33px 10px 33px !important;
    padding-top: 12px;
    padding-right: 33px;
    padding-bottom: 12px;
    padding-left: 33px;
  }
</style>