<template>
  <BasicModal
      :modal-id="modalId"
      :title="title"
      modalClass="chooseGenre"
      @close="close"
  >
    <div class="modal-body border-0 pt-0">
      <CommonValidationErrors :errors="errors"/>
      <div class="mt-4 f-genres">
        <div class="row">
          <div :key="key" v-for="(genre, key) in genres" class="col-6 px-lg-3 px-0">
            <BasicCardGenre @click="selectGenre(genre.id)"
                            :class="selected.includes(genre.id) ? 'active-genre' : 'text-bg-dark'">
              {{ genre.name }}
            </BasicCardGenre>
          </div>

          <div class="col-md-12 mt-3 ">
            <div class="modal-footer border-0 text-center align-items-center justify-content-center">
              <BasicButton @click="close" kind="outline" class="m-2">
                Cancel
              </BasicButton>

              <span @click="submit">
                <BasicButton :loading="loader" class="m-2">
                Save
              </BasicButton>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BasicModal>
</template>

<script>
import {useVfm} from 'vue-final-modal'
import {useGenresStore} from "~/stores/genres";
import {defineEmits} from "vue";

export default {
  props: {
    modalId: {
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
  },

  computed: {

    selectedGenres() {
      const genreStore = useGenresStore();
      return genreStore.selectedGenres;
    }

  },

  async setup(props) {

    const selected = ref([]);
    const genreStore = useGenresStore();
    const loader = ref(false)
    const {$notify, $profileService} = useNuxtApp();
    const errors = ref([])

    function close(value = null) {
      const vfm = useVfm()
      vfm.close(props.modalId)
    }

    let v = {...genreStore.selectedGenres};
    selected.value = Object.values(v)

    async function submit() {
      loader.value = true;
      const response = await $profileService.updateGenre(
          selected.value
      );
      loader.value = false;
      if (response.success) {
        $notify("Updated Successfully!")
        let c = {...selected.value}
        genreStore.selectedGenres = Object.values(c)
        close();
      } else {
        errors.value = response.data;
      }
    }

    function selectGenre(id) {
      const index = selected.value.indexOf(id);
      if (index > -1) {
        selected.value.splice(index, 1);
      } else {
        selected.value.push(id)
      }
    }

    const genres = ref(await genreStore.all);


    return {close, genres, selectGenre, selected, loader, submit, errors}
  }
}

</script>

<style scoped>
.vfm__content {
  overflow-y: auto;
  max-width: 890px !important;
  height: 70vh;
}
@media only screen and (min-width: 576px){
  .vfm__content {
    max-width: 890px !important;
  }
}
</style>
