<template>
  <BasicModal
      :modal-id="modalId"
      :title="title"
      @close="close"
  >
    <div class="modal-body border-0 pt-0">
      <CommonValidationErrors :errors="errors"/>
      <div class="mt-4 f-genres">
        <div class="row">
          <p>Do you really want to delete track "{{track.title}}"?</p>
          <div class="col-md-12 mt-3 ">
            <div class="modal-footer border-0 text-center align-items-center justify-content-center">
              <BasicButton @click="close" kind="outline" class="m-2">
                Cancel
              </BasicButton>
              <span @click="submit">
                <BasicButton :loading="loader" class="m-2">
                    Delete
                </BasicButton>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BasicModal>
</template>

<script>
import {useVfm} from 'vue-final-modal'
import {useTrackStore} from "~/stores/tracks";
import {defineEmits} from "vue";

export default {
  props: {
    modalId: {
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    track:{
      type: Object,
    }
  },


  async setup(props) {


    const trackStore = useTrackStore();
    const loader = ref(false)
    const {$notify, $tracksService} = useNuxtApp();
    const errors = ref([])

    function close(value = null) {
      const vfm = useVfm()
      vfm.close(props.modalId)
    }

    async function submit() {
      loader.value = true;
      const response = await $tracksService.deleteTrack(
          props.track.id
      );
      loader.value = false;
      if (response.success) {
        $notify("Deleted Successfully!")
        document.querySelectorAll(".track-"+props.track.id).forEach(el => el.remove());
        close();
      } else {
        errors.value = response.data;
      }
    }


    return {close, submit, errors, loader}
  }
}

</script>

<style>
.vfm__content {
  overflow-y: auto;
  height: 45vh !important;
}
</style>
