<template>
  <div class="container">
    <div class="bg-white my-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
          <FormCreateStation/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {useRoute} from "#imports";
import {useStationsStore} from "~/stores/stations";
export default {
  async setup(){

    definePageMeta({
      middleware: "auth"
    })

    const stationStore = useStationsStore();

    return {  stationStore };
  },

  data(){
    return {
      station: {}
    }
  },

  async mounted(){
    const route = useRoute();
   // this.station = await this.stationStore.single(route.params.id);
   // this.stationStore.setTrackFields(this.track)
  },
}
</script>
