@font-face {
    font-family: Inter;
    src: url("~/assets/fonts/Inter.ttf");
}

body{
    font-family: Inter !important;
}
h1,h2,h3,h4,h5,h6,p,button,a,label,span{
    /*font-family: "Inter" !important;*/

    font-family: Inter !important;
}

p{
    color: #131A20;
}

svg{
    fill: none;
    width: 20px;
    display: inline;
}

.filled svg{
    fill: #c638c8 !important;
}

.filled{
    color: #c638c8 !important;;
}


.system-grey-color{
    color: #EBEBEB !important;;
}

.primary-dark-color{
    color: #131A20 !important;
}

.grey-new-color{
    color: #DFDFDF !important;
}

.light-color{
    color: #81919E !important;
}

.spin-loader{
    color: #C638C8;
    font-size: 36px;
    margin: 10px;
}

.accordion-card{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.form-label{
    font-size: 16px;
    color: #131A20 !important;
}

.formkit-inner select{
    padding: 12px 12px 15px !important;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #e2e5e9;
    color: #81919E;
}

.c-btn{
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    padding: 0.5rem 2.5rem !important;
    /*color: #DFDFDF !important;*/
}

footer.default{
    border-top: 1px solid #DFDFDF !important;
}

.profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.underline:hover{
   text-decoration: underline;
   text-decoration-color: inherit;
}

.bg-purple{
    background: #C638C8 !important;
    /*border: 1px solid #C638C8 !important;*/
}

input:focus{
    outline: unset !important;
}

.mr-c{
    margin-right: 1.5rem;
}
.hero-input{
    padding: 12px 12px 15px !important;
    width: 420px;
    height: 48px;
}
.hero-input-btn{
    padding: 12px 33px 12px 33px !important;
    color: white !important;
}
.hero-input-btn-google {
    padding: 12px 33px 12px 33px !important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    color: #81909D !important;
    font-weight: 100 !important;
    font-size: 54px !important;
}
.owl-nav{
    position: absolute !important;
    z-index: 999 !important;
    top: 0 !important;
    right: -26px !important;
    bottom: 0;
    margin: 0 auto;
    height: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel .owl-nav button.owl-prev,.owl-dots{
    display: none !important;
}
.text-purple{
    color: #C638C8 !important;
}
.bg-opt{
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 3px;
}
.fs-12{
    font-size: 12px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-36{
    font-size: 36px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-28{
    font-size: 28px !important;
}

.fs-48{
    font-size: 28px !important;
}

h1.top-heading{
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
}

h2.heading{
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

h3.sub-heading{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}


.no-label label.form-label{
    display: none !important;
}

.opt-price{
    right: 13px;
    top: 13px;
    z-index: 996;
}
.color-theme{
    color: #EBEBEB !important;
}
.border-l-purple{
    border-left: 3px solid #C638C8;
}

.pl-15px{
    padding-left: 15px;
}

.bg-blue-gradient{
    background: linear-gradient(97.77deg, #071724 4.67%, #131A20 99.28%);
}
.hero-section-bg{
    background-image: url("/images/Group-otp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-section-bg{
    background-image: url("/images/vectorsvdfsdf.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.w-18{
    width:18px;
}

.text-theme-secondary{
    color: #81919E !important;
}

a.hover-text-pink.text-theme-secondary:hover {
    color:#c638c8 !important;
}
.text-theme-secondary {
    color: #81919E !important;
}

.border-b-theme-secondary {
    /*border-bottom: 1px solid #81919E !important;*/
}

.border-pricing {
    border: 1px solid #DFDFDF;
}

.border-right-pricing {
    border-right: 1px solid #DFDFDF;
}

.border-bottom-pricing {
    border-bottom: 1px solid #DFDFDF;
}

.height-pricing {
    height: 683px;
}

.h-166 {
    height: 166px !important;
}

.h-74 {
    height: 74px !important;
}

.h-98 {
    height: 98px !important;
}

.h-97 {
    height: 97px !important;
}

.demo {
    margin: 20px;
}

.accordion .fa {
    margin-right: 0.5rem;
}

.accordion button, .accordion button:hover, .accordion button:focus {
    text-decoration: none;
}

.close-icon {
    position: absolute;
    right: 0;
    top: 27px;
}

.bg-gray{
    background-color: #D9D9D9 !important;
}

.active-genre{
    background-color: #D9D9D9 !important;
    color: black !important;
}

.news-letter {
    background: linear-gradient(97.77deg, rgba(7, 23, 36, 0.7) 4.67%, rgba(19, 26, 32, 0.7) 99.28%);
}

.bg-gray-new {
    background-color: #fff !important;
    border-radius: 3px !important;
}
.hero-section-image{
    background-image: url("/images/bg-signin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.bg-fb {
    background-color: #3877EA !important;
}

.position-or {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 53px;
    top: -15px;
}

.form-check-input {
    margin-top: 0.4rem !important;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: 900 !important;
}

.main-search {
    /* width: 20%;
     margin: 50px auto;*/
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 1rem;
    background: #F5F5F5;
    border-radius: 4px;
    height: 40px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    line-height: 2.4rem;
    text-align: center;
    pointer-events: none;
    right: 0;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-46 {
    font-size: 46px !important;
}

.c-btn-price {
    padding: 14px 74px;
    border: 1px solid #C638C8;
    border-radius: 4px;
}

.price-box {
    background: #FFFFFF;

    /* grey new */
    border: 1px solid #DFDFDF;

    /* shadow 2 */
    box-shadow: 0px 4px 50px rgba(19, 26, 32, 0.08);
    height: 508px;
}

.tracks-bg {
    background: #C0E5DE;
}

.tracks-price {
    top: -6px;
}

.dropdown-toggle::after {
    border: 0 !important;
    border: unset !important;
    background-image: url("/images/icons/arrow-down.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    position: relative;
    top: 3px;
    width: 14px !important;
    height: 7px !important;
}

.btn.focus, .btn:focus {
    outline: unset !important;
    box-shadow: unset !important;
}

.border-fb.btn-filters:hover {
    border: 1px solid #c638c8 !important;
}
.btn-filters {
    padding: 10px 34px !important;
    border-radius: 4px !important;
    margin-bottom: 12px;
}

.hover-stuff {
    display: none;
}

.feature-1:hover .feature-1-hover + .hover-stuff {
    display: flex;
    background: rgba(19, 26, 32, 0.7);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.feature-1 {
    padding: 8px;
    margin: 5px;
}

.feature-1:hover {
    background: #FFFFFF;
    /* Shadow for cards */
    box-shadow: 0px 1px 50px rgba(19, 26, 32, 0.06), 0px 6px 50px rgba(19, 26, 32, 0.06);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -6px;
    /*margin: 10px 0 !important;*/
}

.owl-carousel .owl-item {
    margin: 35px 0;
}

.flex-wrap span.text-bg-dark {
    top: -5px;
    left: -15px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.left-22 {
    left: -22px;
}

.border-fb {
    border: 1px solid #5390C6 !important;
}

.color-fb {
    color: #5390C6;
}

.bg-fb-2 {
    background-color: #5390C6 !important;
}

.py-1-5 {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}

.right-15 {
    right: 15px !important;
}

.right-0 {
    right: 0 !important;
}

.top-minus-5 {
    top: -5px !important;
}

.w-h-272 {
    width: 272px !important;
    height: 272px !important;
}
.w-h-300 {
    width: 300px !important;
    height: 300px !important;
}
.w-h-325 {
    width: 325px !important;
    height: 325px !important;
}
.h-700{
    min-height: 700px;
}
.img-unset {
    display: unset !important;
    width: unset !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5F5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #C638C8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

button {
    cursor: pointer;

}
.cursor-pointer:hover{
    cursor:pointer
}
.bg-like img.d-unset.plus-icon{
    width: 25px !important;
    height: 25px !important;
}
.bg-like img.d-unset{
    width: 30px !important;
    height: 30px !important;
}

.bg-like {
    background: #131A2073;
    /*opacity: 0.7;*/
    padding: 14px 10px;
    border-radius: 100px;
}

#customFile{
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.h-159 {
    /*height: 159px;*/
}

.hover-stuff img {
    width: unset !important;
}

.d-unset {
    display: unset !important;
}

.w-unset {
    width: unset !important;
}

.inputGroupSelect01 {
    background: #FFFFFF;

    /* additional light */
    border: 1px solid #81919E;
    border-radius: 6px;
    padding: 10px 10px !important;
}

.modal-content {
    border: 0 !important;
    background: #FFFFFF !important;
    border-radius: 4px !important;
}

.custom-file-label {
    text-align: center;
    cursor: pointer;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    /* display: none;*/
}

.border-otp {
    border: 1px solid #81919E;
    backdrop-filter: blur(5px);
}

.bg-green-comment {
    background: #318071;
}

.wh-60 {
    width: 60px;
    height: 60px;
}

.custom-file-comment .custom-file-label::after {
    content: "Send" !important;
    color: #131A20 !important;
    background-color: unset !important;
    border: 0 !important;
    top: 5px !important;
}

.custom-file-comment .custom-file-label {
    background: #F5F5F5 !important;
    border: 0 !important;
}

.bg-gray-input-comment {
    background-color: #F5F5F5 !important;
}

.custom-file-comment .custom-file-input {
    opacity: unset;
    z-index: 0 !important;
    background: #F5F5F5 !important;
    border-radius: 4px !important;
    height: 50px !important;
}

.custom-file-comment .custom-file-label {
    left: unset !important;
    width: 15%;
    background-color: transparent;
    z-index: 3 !important;
}

.hide {
    display: none;
}

.myDIV:hover .hide {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 50px rgba(19, 26, 32, 0.06), 0px 6px 50px rgba(19, 26, 32, 0.06);
    z-index: 999;

}

.myDIV {
    cursor: pointer;
}

.myDIV:hover .feature-1-hover + .hover-stuff {
    display: flex;
    background: rgba(19, 26, 32, 0.7);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.user-profile-bg {
    background: linear-gradient(266.92deg, #9DAEBE 0.48%, #DBE0E5 98.39%);
    background-repeat: no-repeat;
    background-size: cover;
}

.v3ti .v3ti-tag {
    background: #c638c8 !important;
}

.v3ti.hero-input{
    padding: 7px 12px 15px !important;
}

.v3ti--focus{
    box-shadow: unset !important;
}

.top-minus-47 {
    top: -47px;
}

.upload-banne {
    padding: 0px 20px !important;
}

.upload-form input.border, .upload-form select.border, .upload-form textarea.border, .upload-form .custom-file-label {
    background: #FFFFFF !important;
    /* additional light */
    border: 1px solid #81919E !important;
    border-radius: 6px !important;
}

.upload-form input.hero-input {
    padding: 12px 15px 12px 15px !important;
}

.f-genres button.hero-input-btn {
    padding: 12px 15px 12px 15px !important;
    border-radius: 0 !important;
    margin-bottom: 15px;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.no-content .custom-file-label::after, .upload-form label::after {
    display: none;
}

.no-content .custom-file-label {
    border: 1px solid #131A20 !important;
    color: #131A20 !important;
}

.top-minus-79 {
    top: -79px;
}

.track-label .custom-file-label {
    padding: 12px 14px !important;
    height: 50px !important;

}

.font-weight-700 {
    font-weight: 700 !important;
}

.form-check input[type="checkbox"], .form-check input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

.field-box{
    border: 1px solid #ece2e2;
    padding: 10px;
    border-radius: 5px;
}

.formkit-options li{
    list-style-type: none !important;
}

.formkit-options li .formkit-inner{
    display: inline;
    margin-right: 10px;
}

label.form-label, legend{
    font-weight: bold !important;
}

.text-bg-dark {
    color: #131A20 !important;
    background-color: unset !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.modal-body .custom-file .custom-file-input:lang(en) ~ .custom-file-label::after {
    display: none !important;
}

.fs-34 {
    font-size: 34px !important;
}

.border-pricing h3.font-weight-300, .font-weight-300{
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.table td, .table th {
    border-top: 0 !important;
}

.my-messages {
    box-shadow: 0px 4px 50px rgba(19, 26, 32, 0.08);
    border-radius: 6px;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.border-radius-6 {
    border-radius: 6px !important;
}

.border-theme-message {
    border: 1px solid #81919E !important;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: unset !important;
}

header.bg-transparent, #header.bg-transparent {
    background: transparent !important;
}

body.bg-black {
    background: #060808;
}

header.bg-black, #header.bg-black {
    background: linear-gradient(97.77deg, #071724 4.67%, #131A20 99.28%) !important;
    /*background: linear-gradient(97.77deg, #071724 4.67%, #131A20 99.28%) !important;*/
}

header#header-log, header#header-log {
    background-color: white !important;
}



#header-log {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    box-shadow: 0px 4px 50px rgba(19, 26, 32, 0.08) !important;
    background: #FFFFFF !important;
}

#header-log .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

.hero-section label {
    position: relative;
    top: 6px;
}

.form-check {
    top: -5px;
}

.table td, .table th {
    vertical-align: middle !important;
}

tbody tr td {
    padding-bottom: 1rem !important;
}

#navbar ul li a .img-fluid {
    max-width: 22px !important;
}

#header-log .logo img {
    max-height: 57px;
    max-width: 134px;
}

.owl-no-arrow .owl-nav {
    display: none;
}

.owl-carousel.owl-no-arrow .owl-item, .owl-carousel.owl-no-arrow-profile .owl-item {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.upload-shadow {
    box-shadow: 0px 4px 50px rgba(19, 26, 32, 0.08);
    border-radius: 4px;
}

.owl-carousel.owl-no-arrow-profile .owl-nav button.owl-prev, .owl-dots {

}

.navbar ul li a:focus, .navbar ul li a:active, .navbar ul li a:hover {
    color: #C638C8 !important;
    outline: unset;
}

.dropdown-menu {
    left: 10px !important;
    box-shadow: 0px -6.6px 53px 1px rgba(38, 38, 38, 0.13);
    top: 17px !important;
}

.hide .dropdown-menu {
    left: -105px !important;
    box-shadow: 0px -6.6px 53px 1px rgba(38, 38, 38, 0.13);
    top: 17px !important;
}

.hide .dropdown-menu::after {
    content: "";
    margin: 0 auto;
    border: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -24px;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}

.hide .dropdown-menu::before {
    content: "";
    border: 12px solid transparent;
    border-bottom: 13px solid #d9d9d9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin: 0 auto;
    top: -26px;
    position: absolute;
    left: 0;
    right: 0;
}

header button, ul li a.c-btn {
    height: 42px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #FFFFFF !important;
}

.col-md-6 div p a.c-btn {
    display: inline-block;
    font-size: 16px !important;
    height: 48px !important;
    color: #FFFFFF !important;
    padding: 12px 35px !important;
}

.col-md-6 div p a.c-btn:hover {
    outline: unset;
    text-decoration: unset;
}

header button, ul li a.c-btn:hover {
    background-color: #c638c8 !important;
    color: white !important;
    /*border: 0 !important;*/
    outline: unset;
    text-decoration: unset;
}

.mt-3 .col-md-5 p {
    font-size: 16px !important;
}

.mt-3 .col-md-5 h2 {
    font-size: 36px !important;
}

.hero-section-bg a.c-btn {
    height: 48px !important;
    display: inline-block !important;
    padding: 12px 35px !important;
    color: #FFF !important;
    font-size: 16px !important;
}

.pricing p a.c-btn {
    height: 42px !important;
    display: inline-block !important;
    padding: 9px 59px !important;
    color: #FFF !important;
    font-size: 16px !important;
}

.h-48px {
    height: 48px !important;
    padding: 11px 35px !important;
    display: inline-block;
}
.h-206{
    height: 234px !important;
}

.align-items-center .col-lg-1 img {
    /* width: 80px !important;
     height: 80px !important;*/
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
}

select, #inputGroupSelect01 {
    background: transparent !important;
    background-image: url('~/assets/svg/Stroke-arrow-doen1.svg') !important;
    background-repeat: no-repeat !important;
    background-position-x: 95% !important;
    background-position-y: 20px !important;
}

.modal .modal-footer button {
    height: 42px !important;
    padding: 0 10px !important;
    width: 131px !important;
    text-align: center !important;
    border-radius: 4px !important;
}

.modal-header .modal-title {
    font-size: 28px !important;
}

.custom-file-label, .custom-file-input, .custom-file {
    /*height: 46px !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(3rem + 2px) !important;
}

.custom-file-label .mr-3 .img-fluid {
    position: relative;
    top: -1px;
}

.cmb {
    margin-bottom: 2.5rem !important;
}

.navbar .dropdown ul li p {
    overflow: hidden;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    /*white-space: initial;*/
}

.navbar ul li a .img-fluid:hover {
    fill: #c638c8 !important;
    stroke: #c638c8 !important;
}

.hover-purple:hover, img {
    fill: #c638c8 !important;
    stroke: #c638c8 !important;
}
.hover-stuff .position-relative .pl-3{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-stuff .position-relative{
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    margin: 0 auto;
}
.hover-stuff .position-relative .row{
    height: 100%
}

.pricing .border-secondary {
    border-color: #81919E !important;
}
#navbar ul li a .max-w-un {
    max-width: unset !important;
}
@media (min-width: 12800px) {
    /*.container {
        max-width: 1280px !important;
    }*/
}
@media (min-width: 1200px) {
    #header .container {
        max-width: 1600px !important;
    }
    .container {
        max-width: 1500px !important;
    }
}
/*@media (min-width: 1000px) {
    .owl-carousel .owl-item{
        width: 255px;
    }
}*/
@media (min-width: 576px) {
    .modal-dialog-genre {
        max-width: 890px !important;
    }
}
@media only screen and (max-width: 600px) {
    .hero-input {
        width: 277px;
    }
    footer .col {
        -ms-flex-preferred-size: 0;
        flex-basis: unset;
        -webkit-box-flex: 8;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding-left: 11px !important;
    }
    .my-messages p.fs-26 {
        font-size: 16px !important;
    }

    .my-messages p.fs-28 {
        font-size: 16px !important;
    }

    .my-messages button.fs-14 {
        font-size: 11px !important;
    }

    .my-messages select.fs-16 {
        font-size: 11px !important;
        padding-left: .5rem !important;
        width: 113px;
    }

    .my-messages .m-0 p.fs-16 {
        margin-top: 10px !important;
    }

    .my-messages .border-right-pricing {
        border-right: 0 !important;
    }

    .table td, .table th {
        vertical-align: middle !important;
    }

    .table td, .table th {
        min-width: 201px !important;
    }

    .col-lg-12 .border-pricing .row .col-lg-3:nth-child(-n+3), .col-lg-9 .border-pricing .row .col-lg-4:nth-child(-n+2) {
        border-bottom: 1px solid #DFDFDF;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-right: 0 !important;

    }

    .top-minus-79 {
        top: -20px;
    }

    .f-genres button.hero-input-btn {
        font-size: 12px !important;
    }

    .myDIV .fs-18, .hide .fs-18 {
        font-size: 10px !important;
    }

    .myDIV .border-otp, .hide .border-otp {
        font-size: 8px !important;
        padding: 1px !important;
    }

    .dropdown-menu.show {
        left: -34px !important;
    }

    .myDIV .dropdown-item, .hide .dropdown-item {
        font-size: 12px;
    }

    label.switch {
        top: -8px;
        left: 7px;
    }

    span.left-22 {
        left: 9px;
        top: -4px;
    }

    span.fs-16 {
        font-size: 10px !important;
    }

    .btn-filters {
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }

    .fs-md-28 {
        font-size: 20px !important;
    }

    .height-pricing, .pricing {
        height: unset;
    }

    .hero-input {
        padding: 12px 72px 12px 15px !important;
    }

    .owl-nav {
        right: -13px !important;
    }

    .navbar-mobile a, .navbar-mobile a:focus {
        margin: 14px 16px !important;
    }

    .col-md-5 div .mb-4 {
        margin-top: 20px;
    }

    .h-166 {
        display: none;
    }

    #accordion .fs-28 {
        font-size: 14px !important;
        padding-left:0 !important;
    }

    #accordion .fs-16 {
        font-size: 12px !important;
    }

    #accordion .close-icon {
        right: -6px;
        width: 13px;
    }

    /*.container .text-center {*/
    /*    text-align: left !important;*/
    /*}*/

    #header {
        background: #0e3455;
    }

    .price-box {
        height: unset;
    }

    .border-bottom-pricing h3 {
        padding-left: 2rem;
    }
}
@media only screen and (max-width: 768px) {
    .height-pricing, .pricing {
        height: unset;
    }
    header button, ul li a.c-btn {
        padding: 6px 21px !important;
    }

    .navbar-mobile .dropdown > .dropdown-active {
        width: 100% !important;
    }

    .navbar-mobile ul {
        padding: 10px 14px !important;
    }

    .navbar-mobile a, .navbar-mobile a:focus {
        padding: 10px 0px;
    }

    .has-search .form-control-feedback {
        right: 19px !important;
    }

    .main-search {
        width: 100%;
    }

    .navbar a.bg-purple,header button, ul li a.c-btn {
        width: 96%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c638c8 !important;
        color: #FFFFFF !important;
    }

    .navbar-mobile .dropdown ul {
        margin: 7px 0;
    }

    .navbar-mobile a, .navbar-mobile a:focus {
        margin: 14px 5px !important;
    }
}
@media only screen and (max-width: 991px){
    .h-166 {
        height: unset !important;
        border-bottom: 0;
    }
    .h-97 {
        border-bottom: 1px solid #DFDFDF;
    }
    .d-none-991{
        display: none !important;
    }
}
@media only screen and (max-width: 1200px) {

    .height-pricing, .pricing {
        height: unset;
    }
    .pricing .pl-lg-5, .pricing .px-lg-5 {
        padding-left: 1rem !important;
        text-align: center;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #c638c8; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

li .router-link-active{
    color: #C638C8 !important;
}