<template>
  <BasicLink :href="link" class="ml-2">
    <button :class="isSliderView ? 'w-h-272' : 'w-h-325'" class=" add-new-button fs-16 row flex-wrap align-items-center justify-content-center text-theme-secondary  btn-block btn c-btn bg-white border-b-theme-secondary border p-3 mt-md-0" style="margin-left: 5px">
      <div class="col-lg-12">
        <BasicImg class="mr-2" src="/images/add-icon.png" alt=""/>
      </div>
      <div class="col-lg-12">
        <p class="mb-0 mt-4">Add new {{type}}</p>
      </div>
    </button>
  </BasicLink>
</template>

<script>
export default {
  props: {
    link: {
      type: String
    },
    type: {
      type: String,
    },
    isSliderView: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style>
  @media only screen and (max-width: 576px) {
    .add-new-button {
      margin-left: 15px;
    }
  }
</style>