<template>
  <div class="main-search">
    <div class="form-group has-search mb-0">
      <span class="form-control-feedback">
        <BasicSvgIcon :has-fill="true" icon="Search"/>
      </span>
      <input type="text" class="form-control border-0" placeholder="Search">
    </div>
  </div>
</template>

<script>
export default {}
</script>
