<template>
  <div class="row align-items-end justify-content-between m-0">
    <div class="col-lg-8">
      <BasicSubHeading class="mb-2 text-bg-dark fs-28 font-weight-normal">
        {{heading}}
      </BasicSubHeading>
      <p v-if="subHeading" class=" mb-0 text-theme-secondary fs-16 font-weight-normal">
        {{subHeading}}
      </p>
    </div>
    <div class="col-lg-4">
      <p class="text-right pull-right mt-1" v-if="seeMorePath">
        <BasicLink :href="seeMorePath" class="hover-text-pink mb-0 text-theme-secondary fs-16 font-weight-normal">
          See More
        </BasicLink>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    heading: {
      type: String
    },
    subHeading: {
      type: String,
      default: ''
    },
    seeMorePath: {
      type: String,
      default: ''
    }
  }
}
</script>
<style>
  .hover-text-pink:hover{
    text-decoration: underline !important;
  }
</style>