<template>
  <BasicCardAuth :footer="true" title="Login">
    <template v-slot:default>
      <CommonAuthSocialButtons/>
      <FormAuthLogin/>
    </template>
     <template v-slot:footer>
       New to our site?
       <BasicLink class="text-purple" href="/auth/register">
         <span class="text-purple">Sign Up now</span>
       </BasicLink>
     </template>
  </BasicCardAuth>
</template>

<script>
import {definePageMeta} from "#imports";
export default {
  async setup() {
    definePageMeta({
      layout: 'auth',
      middleware: 'guest',
    });
  }
}
</script>
