<template>
  <BasicCardAuth :footer="true" title="Sign Up">
      <template v-slot:default>
        <CommonAuthSocialButtons/>
        <FormAuthRegister/>
      </template>
       <template v-slot:footer>
         Already have an account?
         <BasicLink class="text-purple" href="/auth/login">
           <span class="text-purple">Sign In</span>
         </BasicLink>
       </template>
  </BasicCardAuth>
</template>

<script>
import {definePageMeta} from "#imports";
export default {
  async setup() {
    definePageMeta({
      layout: 'auth',
      middleware: 'guest',
    });
  }
}
</script>
