<template>
  <div class="container">
    <BasicLoader/>
  </div>
</template>

<script>
import {definePageMeta} from "#imports";
export default {
  async setup(){
    definePageMeta({
      layout: 'auth',
      middleware: 'guest',
    });
    const route = useRoute();
    const router = useRouter();
    const {$notify, $auth} = useNuxtApp();
    if(route.query.token){
      await $auth.setUserToken(route.query.token);
      $notify('Authenticated Successfully!');
      return await router.push('/tracks');
    }else{
      $notify('Something went wrong, please try again!', 'error');
      return await router.push('/auth/login');
    }
  }
}
</script>
