<template>
  <BasicLink :href="`/profile/`+author.username">
    <div class="feature-1 text-center">
      <div class="">
        <div class="position-relative">
          <BasicImg style="width: 250px; height: 250px;" class="feature-1-hover rounded-circle"
                    :src="author.profile_photo" alt=""/>
        </div>
      </div>
      <h3 class="fs-16 mb-2 mt-3 text-center primary-dark">{{ author.username }}</h3>
      <p class="fs-14 mb-1 text-secondary text-center">Followers: {{ author.followers ?? 0 }}</p>
    </div>
  </BasicLink>
</template>

<script>
export default {
  props: {
    author: {
      type: Object
    }
  }
}
</script>
