<template>
  <div class="mt-lg-5">
    <div class="bg-white rounded mt-lg-5">
      <div class="py-4 px-lg-5 px-2">
        <h4 class="fs-28 text-center primary-dark font-weight-normal mb-4">
          {{ title }}
        </h4>
        <slot/>
      </div>
      <div v-if="footer">
        <hr class="my-0">
        <div class="py-4 px-lg-5 px-2">
          <p class="fs-16 text-center text-theme-secondary mb-0">
            <slot name="footer"/>
          </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    footer: {
      type: Boolean,
      default: false
    }
  }
}
</script>
