<template>
  <div class="pb-2">
    <div class="row " >
      <div :class="isChild ? 'col-lg-2 col-md-3 col-sm-3 mt-4 ml-minus-35 reply-comment-logo' : 'col-lg-1 col-md-3 col-sm-3 mt-5 '" class="pr-0">
           <span class="mr-3">
                <BasicImg style="width: 50px;" class="rounded-circle" :src="comment.user_image"/>
           </span>
      </div>
      <div :class="isChild ? 'col-lg-10 mt-4 col-md-9 col-sm-9 reply-comments' : 'col-lg-11 col-md-9 col-sm-9 mt-5 ml-minus-35 reply-parent-comment'" class="pl-2">
        <div class="m-0">
          <p class="mb-0 fs-16 ml-15 text-bg-dark font-weight-normal">
            <b>{{ comment.user_slug }} </b>
            <span style="padding-left: 10px;"
              class="text-theme-secondary fs-16 ml-2">
              {{ comment.created }}
            </span>
          </p>
          <p class="mb-0 fs-14 ml-15 text-bg-dark font-weight-normal mt-2">
            {{ contentShow(comment.content) }}
          </p>
          <p v-if="comment.content.length > 250" class="text-12 text-blue-500 mt-3 hover:text-red-500">
            <a href="javascript:void(0)" @click="readMore = !readMore">
              Read {{ readMore ? 'less' : 'more' }}
            </a>
          </p>
          <p class="mb-0 fs-14 ml-15 text-theme-secondary font-weight-normal mt-2">
            <span  @click="like(!isLiked)" :class="isLiked ? 'filled' : ''">
              <BasicSvgIcon icon="Heart"/>
              {{likeCounter}} &nbsp;
            </span>
            <span class="cursor-pointer ml-4" v-if="!addReply" @click="showCommentForm">
              Reply
            </span>
          </p>
        </div>
        <FormComment
                :class="isChild ? 'reply-form' : ''"
            :track-id="trackId"
            :parent-comment-id="comment.id"
            :show="addReply"
            @close="closeReply"
        />
      </div>
    </div>
  </div>
</template>

<script>

import {useTrackCommentsStore} from "~/stores/trackComments";

export default {
  setup() {
    const trackCommentsStore = useTrackCommentsStore();
    const nuxtApp = useNuxtApp();
    return {trackCommentsStore, nuxtApp}
  },
  props: {
    comment: {
      type: Object
    },
    trackId: {
      type: String
    },
    isChild: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      readMore: false,
      addReply: false,
      showReportModal: false,
      showDeleteModal: false,
      isLiked: false,
      counter: 0
    };
  },

  computed: {
    likeCounter(){
      return this.counter;
    },
  },

  mounted() {
    this.counter = this.comment.likes;
  },

  methods: {

    async like(flag){
      if(flag){
        this.counter++
        this.isLiked = true;
        let response =  await this.nuxtApp.$trackCommentsService.like(this.comment.id);
        if(response.success){
          this.nuxtApp.$notify('Liked Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.counter--
          this.isLiked = false;
        }

      }else{
        this.isLiked = false;
        this.counter--
        let response =  await this.nuxtApp.$trackCommentsService.unlike(this.comment.id);
        if(response.success){
          this.nuxtApp.$notify('Unliked Successfully!')
        }else{
          this.nuxtApp.$notify('Something went wrong!', 'error')
          this.counter++
          this.isLiked = true;
        }
      }
    },

    contentShow(content) {
      if (this.readMore) {
        return content;
      } else {
        return this.ShortenText(content, 250);
      }
    },
    closeReply(output) {
      this.addReply = output;
    },
    ownComment() {
      return this.isLoggedIn() && this.getUser("username") == this.comment.user_slug;
    },
    closeReportModal(value) {
      this.showReportModal = value;
    },
    showCommentForm() {
      this.addReply = !this.addReply;
    },
    async deleteResponse(comment_id) {
      const {$trackCommentsService} = useNuxtApp()
      let response = await $trackCommentsService.deleteComment(comment_id);
      this.showDeleteModal = false;
      if (response.success) {
        await this.trackCommentsStore.deleteComment({
          track_id: this.trackId,
          comment_id
        });
      } else {
        console.log(response.data);
      }
    }
  }
};
</script>
<style>
  .ml-15{
    margin-left: -15px !important;
  }
</style>