<template>
  <button class="w-100 fs-14 d-flex align-items-center justify-content-start btn-block btn bg-white border-b-theme-secondary border hero-input-btn mt-md-0">
    <slot/>
  </button>
</template>

<script>
export default {
  name: "Genre"
}
</script>