<template>
  <BasicLink :href="`/`+stream.type + '/'+stream.feature.id">
    <div class="card-my-stream mb-5">
      <div class="bg-white mt-2">
        <div class="my-2">
          <div class="row justify-content-start align-items-center">
            <div class="col-lg-1 pr-0">
                 <span class="mr-3">
                      <BasicImg width="60" :src="stream.author.image" alt=""/>
                 </span>
            </div>
            <div class="col-lg-11 ml-3-per">
              <div class="m-0">
                <p class="mb-0 fs-16 text-bg-dark font-weight-normal"><b>{{stream.author.name}}</b>
                  <span class="text-theme-secondary fs-16 ml-2">{{stream.comment}} a {{stream.type}} on {{stream.date}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-lg-5 ml-0 pl-lg-4 pl-0 mt-4">
        <div class="row align-items-center justify-content-start">
          <div class="col-lg-8">
            <div class="">
              <div class="position-relative">
                <div class="myDIV">
                  <div class="border-bottom border-top py-2">
                    <div class="px-2 d-flex align-items-center justify-content-between hover-track-card">
                      <div class="col-lg-10 col-sm-10">
                           <span class="mr-3 col-lg-4">
                               <BasicImg width="65" class="feature-1-hover"
                                         :src="stream.feature.image" />
                           </span>
                        <span class="mr-3 margin-left-2rem col-lg-8 text-bg-dark fs-18 font-weight-normal">{{stream.feature.title}} </span>
                      </div>
                      <div class="col-lg-2 col-sm-12">
                           <span class="mr-3 text-bg-dark fs-16 font-weight-normal">
                               <span
                                   class="border-otp text-purple bg-opt px-2 py-1 fs-12">$ OPT</span>
                           </span>
                        <span class="float-right text-theme-secondary fs-18 font-weight-normal">3:59</span>
                      </div>
                    </div>
                  </div>
                  <div class="hide">
                    <div class="py-2">
                      <div class="px-2 d-flex align-items-center justify-content-between w-100">
                        <div class="col-lg-6 col-sm-6 text-left px-0">
                          <div class="d-flex align-items-center ">
                            <div class="position-relative">
                              <BasicImg width="65" class="feature-1-hover"
                                        :src="stream.feature.image" />
                              <div class="hover-stuff position-absolute">
                                <div class="pl-3 pr-3 position-relative">
                                  <div class="row align-items-center justify-content-between">
                                    <div class="col px-0">
                                      <img class="d-unset img-fluid cursor-pointer"
                                           src="/images/Group830.png" alt="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <span class="mr-3 ml-3rem text-bg-dark fs-18 font-weight-normal">
                            {{stream.feature.title}}
                          </span>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 text-right px-0 stream-icons">
                          <div class="d-flex align-items-center justify-content-end">
                              <span
                                  class="mr-4 text-theme-secondary  fs-16 font-weight-normal"><img
                                  class="img-fluid"
                                  src="http://chhogori.epigontech.com/assets/svgs/Heart-light.svg"
                                  alt="">
                              </span>
                            <span class="mr-4 text-theme-secondary fs-16 font-weight-normal"><img
                                class="img-fluid"
                                src="http://chhogori.epigontech.com/assets/svgs/Upload-light.svg"
                                alt="">
                              </span>
                            <span class="mr-3 text-theme-secondary fs-16"><img
                                class="img-fluid"
                                src="http://chhogori.epigontech.com/assets/svgs/Paper Plus-ico-4.svg"
                                alt="">
                              </span>
                            <span class="dropdown mr-4 text-theme-secondary fs-16 font-weight-normal">
                                  <button
                                      class="text-theme-secondary fs-16 font-weight-normal btn p-0 m-0 border-0 bg-transparent"
                                      type="button" id="dropdownMenuButton"
                                      data-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical mr-2"></i>
                                  </button>
                                  <div class="dropdown-menu"
                                       aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"
                                       href="#">Play it next</a>
                                    <a class="dropdown-item text-purple" href="#">Go to the author's page</a>
                                    <a class="dropdown-item" href="#">Download</a>
                                  </div>
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BasicLink>

</template>

<script>
export default {
  props: {
    stream: {
      type: Object
    }
  },
}
</script>

<style scoped>
.ml-2, .mx-2 {
  margin-left: .5rem !important;
}

@media only screen and (min-width: 992px) {
  .ml-lg-5, .mx-lg-5 {
    margin-left: 3rem !important;
  }

  .pl-lg-4, .px-lg-4 {
    padding-left: 1.5rem !important;
  }

}

@media only screen and (max-width: 992px) {
  .ml-3-per {
    margin-left: 0% !important;
  }

  .float-right {
    float: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .stream-icons .img-fluid {
    height: 15px !important;
    width: 15px !important;
  }

  .ml-3rem {
    margin-left: 2rem !important;
  }
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.float-right {
  float: right;
}

.margin-left-2rem {
  margin-left: 2rem;
}

.ml-3-per {
  margin-left: -3%;
}

.mr-3.ml-3rem {
  margin-left: 3rem;
}

</style>