<template>
<div :style="`height: `+ boxHeight + `px;`" class="price-box border-pricing">
    <div class="bg-light border-bottom-pricing py-3">
        <h3 class="text-center text-dark fs-22 font-weight-normal m-0">
            {{ plan.name }}
        </h3>
    </div>
    <div class="px-4 pb-5 pt-2">
        <p class="fs-46 font-weight-normal mb-4 mt-0 text-center mt-3">
            <b>{{ FormatCurrency(plan.original_price) }}</b><span class="text-theme-secondary">/mo</span>
        </p>
        <div class="list-price">
            <div class="px-4">
                <div :key="key" v-for="(description, key) in parseDescription(plan.description)">
                    <div v-if="description" class="row mb-2">
                        <div class="col-1 px-0">
                            <span class="mr-2">
                                <BasicImg src="/images/icons/tick.png" />
                            </span>
                        </div>
                        <div class="col-11 pl-lg-2">
                            <p class="fs-16 text-dark font-weight-normal">
                                {{ description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <BasicButton :loading="loader" @click="payPalButton(plan, $event)">
                        Select
                    </BasicButton>
                    <div :id="`paypal-button-container-`+plan.id"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</template>

<script>
import {useNuxtApp} from '#imports';
export default {
    props: {
        plan: {
            type: Object
        }
    },
    setup() {
        function parseDescription(description) {
            if (description.includes('*')) {
                return description.split('*');
            }
            return [description];
        }
      const loader = ref(false)
      const boxHeight = ref(508);
      const {$notify, $userSubscriptionsService, $loadPaypal, $removeStorage} = useNuxtApp();

      async function savePlanSubscription(plan, subscription_id = null, details = null){
        const response = await $userSubscriptionsService.add(
            plan.id,
            plan.original_price,
            subscription_id,
            details
        );

        loader.value = false;

        if(response.success){
          $notify('Successfully Subscribed!')
          await navigateTo('/profile')
        }

      }

      async function payPalButton(plan, event) {

        if(!plan.paypal_plan_id){
          await savePlanSubscription(plan);
          return;
        }

        event.target.parentNode.parentNode.classList.add('d-none');

        boxHeight.value = 640;

        const paypal = await $loadPaypal();

        await paypal
            .Buttons({
              style: {
                shape: "rect",
                color: "blue",
                layout: "vertical",
                label: "paypal",
                size: "medium"
              },
              createSubscription: async function(data, actions) {

                return actions.subscription.create({
                  plan_id: plan.paypal_plan_id
                });
              },
              // eslint-disable-next-line no-unused-vars
              onApprove: async function(data, actions) {
                await savePlanSubscription(plan, data.subscriptionID, data);
                $removeStorage('profiles');
              }
            })
            .render("#paypal-button-container-"+plan.id);
      }
        return {
            parseDescription,payPalButton, loader,boxHeight
        }
    }
}
</script>
