<template>
  <div>
    <div class="feature-1 text-center">
      <div class=" ">
        <div class="position-relative">
        <span class="opt-price position-absolute text-purple bg-opt px-2 py-1 fs-12">
          $ OPT
        </span>
          <BasicImg class="feature-1-hover" :src="track.image" alt=""/>
          <div class="hover-stuff position-absolute">
            <div class=" position-relative">
              <div class="pl-3 pr-3">
                <div class="row align-items-center justify-content-between h-159">
                  <div class="col px-2">
                  <span v-if="isEdit" @click="() => vfm.open(modalId)" class="bg-like">
                    <BasicImg class="d-unset cursor-pointer" src="/images/icons/delete.png" />
                  </span>
                  </div>
                  <div class="col px-2">
                    <BasicLink :href="`/track/`+track.id">
                      <BasicImg class="d-unset cursor-pointer" src="/images/icons/play.png" />
                    </BasicLink>
                  </div>
                  <div class="col px-2">
                  <span v-if="isEdit" class="bg-like">
                    <BasicLink :href="`/track/edit/`+track.id">
                      <BasicImg class="d-unset cursor-pointer" src="/images/icons/edit-white.png" />
                    </BasicLink>
                  </span>
                  </div>
                </div>
              </div>
              <BasicLink :href="`/track/`+track.id">
               <div class="cursor-pointer bg-white">
                <h3 class="fs-16 mb-2 pt-3 text-left primary-dark">
                  {{track.title}}
                </h3>

                <p class="fs-14 mb-1 text-secondary text-left additional-light">
                  {{track.author.name ?? track.author}}
                </p>
                <div class="pb-1 d-flex text-left align-items-center justify-content-between">
                <span class=" text-theme-secondary fs-14 font-weight-normal d-inline-flex align-items-center justify-content-center">
                  track <span v-if="!track.is_solo">from station</span>
                </span>
                  <span class="float-right text-theme-secondary fs-14 font-weight-normal d-inline-flex align-items-center justify-content-center">
                    <BasicImg class="mr-2" src="/images/icons/users.png" alt=""/>
                  {{track.followers}}
                </span>
                </div>
              </div>
              </BasicLink>
            </div>
          </div>
        </div>
      </div>
      <h3 class="fs-16 mb-2 mt-3 text-left primary-dark">
        {{track.title}}
      </h3>
      <p class="fs-14 mb-1 text-secondary text-left additional-light">
        {{track.author.name ?? track.author}}
      </p>
      <p  class="fs-14 mb-1 text-secondary text-left additional-light">
        track <span v-if="!track.is_solo">from station</span>
      </p>
    </div>
    <CommonModalDeleteTrack
        :modalId="modalId"
        title="Delete track"
        :track="track"
    />

  </div>
</template>

<script>
import {useVfm} from "vue-final-modal";
import tracks from "../../../pages/tracks";

export default {
  props:{
    track: {
      type: Object
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  },

  setup(props){
    const vfm = useVfm()
    const modalId = Symbol('deleteTrack-' + props.track.id);
    return {modalId,vfm}
  }
}
</script>
<style>
  .text-left{
    text-align: left !important;
  }
</style>