<template>

  <div class="profile-page">
    <BasicSectionProfileHeader v-if="user" :isEdit="false" :user="user"/>
    <div class="container">
      <div class="my-5">
        <div class="mb-3">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-8">
              <p class="fs-28  mb-0">Biography</p>
            </div>
            <div class="col-lg-4 text-right">
              <span class="mr-lg-5 text-bg-dark fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
                <BasicSvgIcon class="mr-2" icon="Upload"/>
                Share
              </span>
            </div>
          </div>
        </div>
        <div class="">
          <p class="fs-16">
            {{user.bio ?? '-'}}
          </p>
          <div class="mt-4 mb-5 f-genres">
            <BasicBlockSectionHeading
                heading="Favourite genres"
            />
            <div v-if="genres.length" class="row mt-3">
              <div v-show="selectedGenres.includes(genre.id)" :key="key" v-for="(genre, key) in genres" class="col-6">
                <BasicCardGenre class="text-bg-dark">
                  {{ genre.name }}
                </BasicCardGenre>
              </div>
            </div>
          </div>
          <div v-if="user.tracks" class="mt-2 mb-5">
            <BasicBlockSectionHeading
                heading="All uploaded tracks"
            />
            <CommonSectionTracksListing
                :tracks="user.tracks.data"
                :isEdit="false"
            />
          </div>

          <div v-if="user.stations" class="mt-2 mb-5">
            <BasicBlockSectionHeading
                heading="All uploaded stations"
            />
            <CommonSectionStationsListing
                :stations="user.stations.data"
                :isEdit="false"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {definePageMeta} from "#imports";
import {useProfileStore} from "~/stores/profile";
import {useGenresStore} from "~/stores/genres";
import {onMounted} from "vue";
export default {
  components: {},

  computed: {

    selectedGenres(){
      const genreStore = useGenresStore();
      return genreStore.selectedGenres;
    }

  },

  async setup(){

    definePageMeta({
      middleware: "auth"
    })

    const profileStore = useProfileStore();
    const user = ref({})
    const genres = ref([])

    const genreStore = useGenresStore();

    const route = useRoute();

    onMounted( async () => {
      user.value = await profileStore.single(route.params.username);
      genreStore.selectedGenres = user.value.genres ?? [];
      genres.value = await genreStore.all;
    })


    //const user = ref(await profileStore.single(route.params.username));



   // const genres = ref(await genreStore.all);

    return {user, genres}
  }
}
</script>
<style>
.mr-lg-5, .mx-lg-5 {
  margin-right: 3rem !important;
}
.edit-text > a{
  color: #131A20 !important;
}
.add-new-genre.hero-input-btn img {
  position: relative;
  top: 0;
}

</style>
