<template>
  <main id="main">
    <BasicSectionProfileHeader :user="user" :isEdit="true"/>
    <div class="container">
      <div class="bg-white my-5">
        <div class="px-lg-0 px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 px-0">
              <p class="fs-28 mb-3">Edit account</p>
              <CommonSuspenseLoader>
                <FormProfile/>
              </CommonSuspenseLoader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import {useNuxtApp, definePageMeta} from "#imports";
import {useProfileStore} from "~/stores/profile";

export default {

  async setup() {

    definePageMeta({
      middleware: "auth"
    })

    const {$notify, $auth} = useNuxtApp();
    const profileStore = useProfileStore();
    const user = ref(await profileStore.fetchProfile());

    function update() {
      $notify('Updated Profile')
    }

    return {update, user};
  }

}
</script>
