<template>

  <div class="profile-page">
    <BasicSectionProfileHeader :user="user"/>
    <div class="container">
      <div class="my-5">
        <div class="mb-3">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-8">
              <p class="fs-28  mb-0">Biography</p>
            </div>
            <div class="col-lg-4 text-right">
              <span class="mr-lg-5 text-bg-dark fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
                <BasicSvgIcon class="mr-2" icon="Upload"/>
                Share
              </span>
              <span class=" text-bg-dark  edit-text fs-16 font-weight-normal d-inline-flex align-items-center justify-content-center">
                <NuxtLink to="/profile/edit">
                  <BasicSvgIcon class="mr-2" icon="Edit"/>
                Edit account
                </NuxtLink>

              </span>
            </div>
          </div>
        </div>
        <div class="">
          <p class="fs-16">
            {{user.bio ?? '-'}}
          </p>
          <div class="mt-4 mb-5 f-genres">
            <div class="row">
              <div class="col-6">
                <BasicCardGenre @click="() => vfm.open(modalId)" class="text-bg-dark">
                  <img class="img-fluid mr-2" src="/images/icons/plus-genre.png" alt="">
                  Add new genre
                </BasicCardGenre>
              </div>
              <div v-show="selectedGenres.includes(genre.id)" :key="key" v-for="(genre, key) in genres" class="col-6">
                <BasicCardGenre class="text-bg-dark">
                  {{ genre.name }}
                </BasicCardGenre>
              </div>
            </div>
          </div>
          <CommonSectionMyTracksStations/>
        </div>
      </div>
    </div>
    <CommonModalChooseGenre
        :modalId="modalId"
        title="Choose the genres that interest you"
        subheading="This will help you get more accurate and interesting recommendations."
    />
  </div>
</template>

<script>
import {definePageMeta} from "#imports";
import { useModal } from 'vue-final-modal'
import Modal from '~/components/basic/Modal'
import { useVfm } from 'vue-final-modal'
import {useProfileStore} from "~/stores/profile";
import {useGenresStore} from "~/stores/genres";
import {onMounted} from "vue";
export default {
  components: {},

  computed: {

    selectedGenres(){
      const genreStore = useGenresStore();
      return genreStore.selectedGenres;
    }

  },

  async setup(){

    definePageMeta({
      middleware: "auth"
    })

    const profileStore = useProfileStore();
    const vfm = useVfm()
    const modalId = Symbol('modalId')

    const genreStore = useGenresStore();

    const user = ref({})
    const genres = ref([])

    onMounted( async () => {
      user.value = await profileStore.fetchProfile();
      genreStore.selectedGenres = user.value.genres ?? [];
      genres.value = await genreStore.all;
    })

    return {modalId, vfm, user, genres}
  }
}
</script>
<style>
  .mr-lg-5, .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .edit-text > a{
    color: #131A20 !important;
  }
  .add-new-genre.hero-input-btn img {
    position: relative;
    top: 0;
  }

</style>
