<template>
    <div>
        <suspense>
            <div>
              <BasicHeaderAuth/>
              <section class="hero-section hero-section-image" id="hero">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-12 hero-text-image">
                      <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-lg-5 mt-lg-5 ml-lg-5">
                            <slot/>
                          </div>
                          <div class="col-lg-6"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <notifications />
            </div>
        </suspense>
    </div>
</template>

<script>
    export default {
        name: "default",
        setup() {
        },
    }
</script>
