<template>
    <div>
        <suspense>
            <div>
                <BasicHeaderDefault />
                <slot />
                <BasicFooterDefault />
                 <notifications />
                <ModalsContainer />
            </div>
        </suspense>
    </div>
</template>

<script>
    export default {
        name: "default",
        setup() {
        },
    }
</script>
