<template>
  <main id="main">
    <BasicSectionHeaderNormal
        title="Analytics and Finance"
        description="Here you can explore the sales analytics and activity of uploads and<br> your profile"
    />
    <div class="mt-5">
      <div class="container">
        <div class="row align-items-start justify-content-start">
          <div class="col-lg-12">
            <p class="fs-18 text-bg-dark">Earned (all the time)</p>
            <div class="row align-items-center justify-content-start">
              <div class="col-lg-12">
                <div class="py-4 border-pricing px-lg-0 px-3">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">all time</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">$354.5</h3>
                      </div>
                    </div>
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">subscription shares</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">$200.0</h3>
                      </div>
                    </div>
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">additional payments</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">$54.0</h3>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">charity</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">$100.5</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-5">
                  <p class="fs-18 text-purple"><span class="mr-2"><img class="img-fluid" src="/images/Framczfdfdse.png" alt=""></span>Transfer earnings</p>
                  <div class="d-flex align-items-center justify-content-start">
                    <div class="col-lg-3 border-pricing px-0">
                      <div class="py-4 px-lg-0 px-3">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">available for withdrawal</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">$354.5</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="fs-18 text-bg-dark">Performance (since account creation)</p>
                <div class="py-4 border-pricing px-lg-0 px-3">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">followers</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">977</h3>
                      </div>
                    </div>
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">likes</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">235</h3>
                      </div>
                    </div>
                    <div class="col-lg-3 border-right-pricing">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">listening</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">541</h3>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="">
                        <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">unique listeners</p>
                        <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">198</h3>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="my-5">
                  <p class="fs-18 text-bg-dark">Created (all the time)</p>
                  <div class="row align-items-center justify-content-start">
                    <div class="col-lg-9 ">
                      <div class="py-4 border-pricing px-lg-0 px-3">
                        <div class="row align-items-center justify-content-start">
                          <div class="col-lg-4 border-right-pricing">
                            <div class="">
                              <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">tracks</p>
                              <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">123</h3>
                            </div>
                          </div>
                          <div class="col-lg-4 border-right-pricing">
                            <div class="">
                              <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">stations</p>
                              <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">235</h3>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="">
                              <p class="text-center text-theme-secondary mb-2 fs-16 font-weight-400">playlists</p>
                              <h3 class="text-bg-dark fs-34 text-center mb-0 font-weight-300">-</h3>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="mt-5 pt-4">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                  <p class="text-bg-dark fs-28 text-left">Uploads</p>
                </div>
                <div class="col-lg-6 text-right">
                  <button type="button" class="btn-filters mr-2 btn-filter-left outline-unset fs-16 bg-transparent border-pricing border btn dropdown-toggle text-bg-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    all uploads
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                  </div>

                  <button type="button" class="btn-filters outline-unset fs-16 bg-transparent border-pricing border btn dropdown-toggle text-bg-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    last 30 days
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="table-responsive-sm">
            <table class="table">
              <thead>
              <tr class="border-bottom-pricing">
                <td class="text-theme-secondary fs-16 font-weight-400 pl-0">Project</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Likes</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Listening</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Listeners</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Sharing</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Downloads</td>
                <td class="text-theme-secondary fs-16 font-weight-400">Total earned, $</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="pt-4">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-4">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>
              <tr>
                <td class="pt-0">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>
              <tr>
                <td class="pt-0">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>
              <tr>
                <td class="pt-0">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>
              <tr>
                <td class="pt-0">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>
              <tr>
                <td class="pt-0">
                  <div class="mt-lg-0 mt-4">
                    <div class="row">
                      <div class="col-4 px-0">
                        <img class="img-fluid" src="http://chhogori.epigontech.com/assets/img/Rectanglfdfdfe 698.png" alt="">
                      </div>
                      <div class="col-8">
                        <p class="mb-0 fs-14 text-bg-dark font-weight-400 mb-0">1234Lala</p>
                        <p class="fs-12 text-theme-secondary font-weight-400 mb-0">2022-09-08</p>
                        <p class="mb-0 fs-12 text-theme-secondary font-weight-400 mb-0">track</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">35</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">15</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">89</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">46</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">6</td>
                <td class="text-bg-dark fs-16 font-weight-400 pt-0">965,0 (WS) + 321,5 (AA) + 8765,0 (C) = <span class="font-weight-700">10876,0</span></td>
              </tr>

              </tbody>
            </table>
          </div>
          <p class="text-center mt-5"><a href="" class="text-theme-secondary load-more text-18 font-weight-400">load more</a></p>
        </div>

      </div>
    </div>
  </main>
</template>

<script>
export default {
}
</script>
<style>
  .text-right{
    text-align: right !important;
  }
  .dropdown-menu-right{
    text-indent: 3em;
  }
  table tr td{
    border-bottom-width: 0px !important;
  }
  .load-more:hover{
    color: #c638c8 !important;
    text-decoration: underline;
  }

</style>