<template>
<main id="main">
    <CommonSuspenseLoader>
        <BasicSectionPlanCards />
    </CommonSuspenseLoader>
    <CommonSuspenseLoader>
        <CommonSectionComparePlans />
    </CommonSuspenseLoader>
</main>
</template>

<script>
import {useNuxtApp, definePageMeta} from "#imports";
export default {
  setup(){
    definePageMeta({
      middleware: "auth"
    })
  }
}
</script>
