<template>
  <BasicSectionHomeHero/>
  <main id="main">

    <BasicSectionHomeIntro/>

    <BasicSectionHomeIdeaDiscover/>

    <BasicSectionHomeDoesWork/>

    <CommonSuspenseLoader>
      <CommonSectionComparePlans/>
    </CommonSuspenseLoader>

    <CommonSuspenseLoader>
      <BasicSectionHomeFaq/>
    </CommonSuspenseLoader>

  </main>
  <CommonSectionEmailSubscriber/>
</template>

<script>
import {useNuxtApp, definePageMeta} from "#imports";

export default {
  async setup(){
    definePageMeta({
      middleware: "guest"
    })
    const nuxtApp = useNuxtApp();
    let isLoggedIn = nuxtApp.$auth.loggedIn;
    let logout = nuxtApp.$auth.logout;
    return {isLoggedIn,logout}
  }
}
</script>

