<template>
  <main id="main">
    <BasicSectionHeaderNormal
        title="My Playlist"
        description="Here you get updates of tracks and stations from the creators you are<br>subscribed to"
    />
    <div class="container">
      <div class="bg-white mt-5">
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="My Playlists"
              seeMorePath="/tracks"
          />

          <CommonSectionTracksSliderListing
              :tracks="tracks"
              createPath="/stations"
          />
        </div>
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Continue Listening"
              seeMorePath="/tracks"
          />

          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Authors you are listing to"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="My History"
              seeMorePath="/tracks"
          />

          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="My Likes"
              seeMorePath="/tracks"
          />

          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>
        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Stations you follow"
              seeMorePath="/tracks"
          />

          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  setup(){
    const tracks = [
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
    ];

    return {tracks};
  }
}
</script>
