<template>
  <main id="main">
    <BasicSectionHeaderNormal
        title="My Stream"
        description="Here you get updates of tracks and stations from the creators you are<br>subscribed to"
    />

    <div class="container m-top-5">
      <BasicCardStream
        v-if="streams.length"
        v-for="stream in streams"
        :stream="stream"
      />

      <p class="text-center" v-else>no streams for you.</p>

    </div>
  </main>
</template>

<script>
import {onMounted} from "vue";

export default {
  setup() {
      const streams = ref([])
      onMounted(async () => {
        const {$streamsService} = useNuxtApp()
        const response = await $streamsService.all()
        if(response.success){
          streams.value = response.data;
        }
      })
      return {streams}
  }
}
</script>

<style scoped>
.m-top-5 {
  margin-top: 5rem;
}
</style>
