<template>
  <main id="main">
    <BasicSectionHeaderNormal
      title="My Uploaded Tracks"
      description="Here you can add and manage your own tracks"
    />
    <div class="container">
      <CommonSectionFilters/>
      <CommonSectionMyTracksStations/>
    </div>
  </main>
</template>

<script>

export default {


}
</script>
