<template>
  <main id="main">
    <BasicSectionHeaderOfferedTrack/>
    <div class="container">
      <div class="bg-white mt-5">
        <CommonSectionFilters/>
        <div class="mt-4 mb-5">
          <BasicBlockSectionHeading
              heading="Activism, Politics & Political Science "
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>

        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Arts"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>

        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Being Human"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>

        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Business, Enterprise, Economics, Money"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>


        <div class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Career & Worklife"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="tracks"
          />
        </div>

      </div>
    </div>
  </main>
</template>

<script>
export default {
  setup(){
    const tracks = [
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
    ];

    return {tracks};
  }
}
</script>
