<template>
  <div class="container">
    <div style="margin-top: 150px; min-height: 500px;" class="bg-white text-center ">
      <h2>Coming Soon</h2>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
