<template>
  <main id="main">
    <BasicSectionHeaderOfferedTrack/>
    <div class="container">
      <div class="bg-white mt-5">
        <CommonSectionFilters/>
        <div v-if="espForYou.length" class="mt-4 mb-5">
          <BasicBlockSectionHeading
              heading="Especially for you"
              subHeading="You may like this selection. Based on the topics you have chosen"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
                :tracks="espForYou"
          />
        </div>

        <div v-if="newTrackByGenre.length" class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="New tracks in your topics of interest"
              subHeading="Recently added"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="newTrackByGenre"
          />
        </div>

        <div v-if="latest.length" class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Latest Tracks all genre"
              subHeading="Based on the largest number of likes and reposts"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
                  :tracks="latest"
          />
        </div>

        <div v-if="randomGenres[0] && first_random_genre.length" class="mt-2 mb-5">
          <BasicBlockSectionHeading
              :heading="`Last 10 posted in ` +  randomGenres[0].name"
              subHeading="10 most recent upload in random genre"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
                  :tracks="first_random_genre"
          />
        </div>

        <div v-if="authors.length" class="mt-2 mb-5">
          <BasicBlockSectionHeading
              heading="Most popular authors this week"
              subHeading="Based on the number of listeners in the past 7 days"
              seeMorePath="/tracks"
          />
          <CommonSectionAuthorsListing
              :authors="authors"
          />
        </div>

        <div v-if="randomGenres[1] && second_random_genre.length" class="mt-2 mb-5">
          <BasicBlockSectionHeading
              :heading="`Last 10 posted in ` +  randomGenres[1].name"
              subHeading="10 most recent upload in random genre"
              seeMorePath="/tracks"
          />
          <CommonSectionTracksSliderListing
              :tracks="second_random_genre"
          />
        </div>

      </div>
    </div>
  </main>
</template>

<script>
export default {

  setup(){
    const tracks = [
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
      {
        author: {
          image: '/images/Rectadsadngle 23.png',
          name: 'Alex_Alex',
          followers: '3.9K'
        },
        title: 'The story of my life',
        amount: '3.50',
        created_at: 'August 9, 2022',
        is_solo: 1,
        image: '/images/Rectadsadngle 23.png',
        description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
      },
    ];

    return {tracks};
  },

  data(){
    return {
      espForYou: [],
      newTrackByGenre: [],
      randomGenres: [],
      first_random_genre: [],
      second_random_genre: [],
      authors: [],
      latest: []
    }
  },

  async mounted(){
    const {$tracksService, $genresService, $profileService} = useNuxtApp()
    const response = await $tracksService.espForYou();
    if(response.success){
      this.espForYou = response.data;
    }

    const newTrackByGenreResponse = await $tracksService.newTrackByGenre();
    if(newTrackByGenreResponse.success){
      this.newTrackByGenre = newTrackByGenreResponse.data;
    }

    const randomServiceResponse = await $genresService.random();
    if(randomServiceResponse.success){
      this.randomGenres = randomServiceResponse.data;
    }

    const authorResponse = await $profileService.authors();
    if(authorResponse.success){
      this.authors = authorResponse.data;
    }

    const latestResponse = await $tracksService.latest();
    if(latestResponse.success){
      this.latest = latestResponse.data;
    }

    if(this.randomGenres.length > 1){
      const byGenre1Response = await $tracksService.byGenre(this.randomGenres[0].id);
      if(byGenre1Response.success){
        this.first_random_genre = byGenre1Response.data;
      }

      const byGenre2Response = await $tracksService.byGenre(this.randomGenres[1].id);
      if(byGenre2Response.success){
        this.second_random_genre = byGenre2Response.data;
      }
    }
  }
}
</script>
