<template>
  <div class="row">
    <div v-if="createPath" class="col-lg-3 col-md-6 col-sm-12 mt-3 ">
      <BasicBlockAddNewBox :link="createPath" :isSliderView="false" :type="createType" />
    </div>
    <div v-for="(track, key) in tracks" :key="key" :class="`track-`+track.id" class="col-lg-3 col-md-6 col-sm-12">
        <BasicCardTrack
            :track="track"
            :isEdit="isEdit"
        />
    </div>

  </div>
</template>

<script>
export default {
  setup(){
    const carouselSettings = {
      itemsToShow: 1,
      itemsToScroll: 1,
      snapAlign: 'start',
      wrapAround: false,
    };

    const carouselBreakpoints = {
      740: {
        itemsToShow: 2,
      },
      1020: {
        itemsToShow: 5,
      }
    };

    return {carouselBreakpoints, carouselSettings}

  },
  props: {
    tracks: {
      type: Array,
      default: []
    },
    createPath: {
      type: String,
      default: ''
    },
    createType: {
      type: String,
      default: 'tracks'
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  }

}
</script>
