<template>
  <div class="row">
    <div v-if="createPath" class="col-3 mt-3">
      <BasicBlockAddNewBox :isSliderView="true" :link="createPath" :type="createType" />
    </div>
    <div class="owl-carousel mt-2">
      <div>
        <Carousel :settings="carouselSettings" :breakpoints="carouselBreakpoints"  :navigation-enabled="true"
                  :navigation-next-label="nextLabel"
                  :navigation-prev-label="prevLabel">
          <Slide :key="key"  v-for="(track,key) in tracks">
              <BasicCardTrack
                      :track="track"
              />
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      nextLabel: "<img src='/images/icons/right.png' />",
      prevLabel: "<img src='/images/icons/left.png' />"
    }
  },
  props: {
    tracks: {
      type: Array,
      default: []
    },
    createPath: {
      type: String,
      default: ''
    },
    createType: {
      type: String,
      default: 'tracks'
    }

  },
  setup(){
    const carouselSettings = {
      itemsToShow: 1,
      itemsToScroll: 1,
      snapAlign: 'start',
      wrapAround: false,
    };

    const carouselBreakpoints = {
      740: {
        itemsToShow: 2,
      },
      1020: {
        itemsToShow: 5,
      }
    };

    return {carouselBreakpoints, carouselSettings}

  },


}
</script>
<style>
  .owl-carousel .carousel button{
    position: absolute !important;
    z-index: 996 !important;
    top: 45% !important;
    bottom: 0;
    margin: 0 auto;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
  }

  .owl-carousel .carousel .carousel__next{
    right: -30px !important;
  }
  .owl-carousel .carousel .carousel__prev{
    left: -2%;
  }
  @media only screen and (max-width: 992px) {
    .owl-carousel .carousel .carousel__next{
      right: -10px !important;
    }
  }

</style>
