<template>
  <div class="container mt-100">
    <div class="bg-white my-5">
      <CommonSuspenseLoader>
        <BasicSectionTrackUpload v-if="trackStore.uploadStep === 1"/>
        <FormUploadTrack v-else />
      </CommonSuspenseLoader>
    </div>
  </div>
</template>

<script>
import {useRoute} from "#imports";
import {useTrackStore} from "~/stores/tracks";
import {useTrackCommentsStore} from "~/stores/trackComments";
export default {
  async setup(){

    definePageMeta({
      middleware: "auth"
    })

    const trackStore = useTrackStore();
    const commentStore = useTrackCommentsStore();

    return {  trackStore, commentStore };
  },

  data(){
    return {
      track: {}
    }
  },

  async mounted(){
    const route = useRoute();
    this.track = await this.trackStore.single(route.params.id);
    this.trackStore.setTrackFields(this.track)
  },
}
</script>

