<template>
  <div>
    <ul v-if="errors.length">
      <li style="list-style-type: none" class="text-danger" v-for="error in errors">{{error}}</li>
    </ul>
  </div>
</template>

<script>
import {onMounted,watch} from "#imports";
export default {
  props: {
    errors: {
      type: Array,
      default: []
    }
  },
}
</script>
