<template>
  <section class="mt-5 pt-1" id="hero">
    <div class="user-profile-bg mt-5 pb-5 pt-5">
      <div class="">
        <div class="container">
          <div class="text-center py-5">
            <h1 class="text-bg-dark fs-28 fs-md-28 mt-4 font-weight-400">
              {{ title }}
            </h1>
            <p v-html="description" class="mb-0 fs-16 text-bg-dark font-weight-normal mt-4"> </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    description: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>

</style>