<template>
  <BasicSectionHeaderTrack
    :track="track"
  />
</template>

<script>
export default {
  setup() {
    const track = {
      author: {
        image: '/images/Rectadsadngle 23.png',
        name: 'Alex_Alex',
        followers: '3.9K'
      },
      title: 'The story of my life',
      amount: '3.50',
      created_at: 'August 9, 2022',
      is_solo: 1,
      image: '/images/Rectadsadngle 23.png',
      description: 'Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mauris velit tortor commodo cras amet, pulvinar euismod.'
    }
    return {track}
  }
}
</script>

<style scoped>

</style>