<template>
  <section class="mt-5 pt-1" id="hero">
    <div class="tracks-bg mt-5 py-5">
      <div class="py-3">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-lg-4">
              <BasicImg style="width: 300px;" class="ml-10" :src="track.image" alt=""/>
            </div>
            <div class="col-lg-8 pl-lg-5">
              <div class="container">
                <div class="row align-items-center mt-lg-1 mt-2">
                    <div class="col-lg-1 col-2 px-0">
                      <BasicImg class="rounded-circle" :src="track.author.image" alt=""/>
                    </div>
                    <div class="col-10">
                      <p class="mb-0 fs-16 text-bg-dark font-weight-normal">
                        {{ track.author.name }}
                      </p>
                      <p class="mb-0 fs-14 text-theme-secondary font-weight-normal">
                        {{ track.author.followers }} followers
                      </p>
                    </div>
                  </div>
              </div>
              <h1 class="text-bg-dark fs-28 fs-md-28 mt-3 mb-0">
                {{ track.title }}
                <span v-if="track.amount" class="ml-lg-3 ml-2 tracks-price text-purple bg-opt px-2 py-1 fs-12 position-relative">
                  $ {{track.amount}}
                </span>
              </h1>
              <div class="mt-3">
                <div class="row align-items-center justify-content-start">
                  <div class="col-lg-5">
                    <p class="mb-0 fs-16 text-theme-secondary font-weight-normal">
                      Track: <span v-if="!track.is_solo">from station</span> <span>5 minutes, 53 seconds</span>

                    </p>
                  </div>

                  <div class="col-lg-7">
                    <p class="mb-0 fs-16 text-theme-secondary font-weight-normal">
                      Created on {{ track.created_at }}
                    </p>
                  </div>
                </div>
                <p class="mt-3 fs-16 text-bg-dark font-weight-normal cmb">
                  {{ track.description }}
                </p>
                <div class="mt-5">
                  <a href="" class="text-purple btn-hover fs-16 font-weight-700 c-btn-price border-purple bg-white h-48px">
                    <b>Paid Listening</b>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  props: {
    track: {
      type: Object,
    }
  }
}
</script>
<style>
  .text-purple.c-btn-price:hover{
    background-color: #c638c8 !important;
    color:#fff !important;
  }
  .ml-10{
    margin-left: 10px !important;
  }
</style>
