<template>
    <section v-if="plans.length" class="m-top-6">
        <div class="text-center my-5 pt-5 ">
            <BasicHeading class="text-center mt-5">
                Select a Plan
            </BasicHeading>
        </div>
        <div class="mb-5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div v-for="(plan, index) in plans" :key="index" class="col-lg-6">
                                <BasicCardSubscriptionPlan :plan="plan"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    async setup(){
        const plansStore = useSubscriptionPlansStore();
        const plans = await plansStore.all;
        return {plans}
    }
}
</script>
<style>
    .m-top-6{
        margin-top: 6rem !important;
    }
</style>