<template>
  <header id="header" class="bg-transparent fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
      <BasicLogo/>
    </div>
  </header>
</template>

<script>
export default {
}
</script>
