<template>
  <header id="header"
          :class="(scrollPosition || isLoggedIn) ? 'bg-white header-scrolled' : 'bg-black'"
          class=" d-flex align-items-center"
  >

    <div class="container  d-flex justify-content-between align-items-center short-container header-container">
      <div v-if="!isLoggedIn" class="d-xs-block d-lg-block">
        <BasicLogo/>
      </div>
      <div v-if="isLoggedIn" class="d-none d-xs-block">
        <BasicLogo/>
      </div>
      <nav id="navbar" class="navbar position-unset">
        <div v-if="isLoggedIn" class="d-none d-lg-block">
          <BasicLogo/>

        </div>
        <ul v-if="!isLoggedIn">
          <li>
            <BasicButtonLink
                :btn-class="scrollPosition ? 'primary-btn-color' : 'text-white c-btn border-b-theme-secondary bg-transparent px-5 ml-lg-3'"
                href="auth/login"
                kind="outline">
              Sign In
            </BasicButtonLink>
          </li>
          <li>
            <BasicButtonLink btn-class="c-btn border-0 bg-purple px-5 ml-lg-3" href="auth/register" kind="primary">
              Free Sign Up
            </BasicButtonLink>
          </li>
        </ul>
        <ul v-if="isLoggedIn">
          <li v-for="menu in mainMenu" class="menu-links">
            <BasicLink class="f-16 fs-16 text-bg-dark" :href="menu.path">
              {{menu.name}}
            </BasicLink>
          </li>
          <li>
            <a>
              <BasicBlockHeaderSearch/>
            </a>
          </li>
          <li class="m-upload-btn">
            <BasicButtonLink href="/track/upload" class="btn-hover ml-4 mr-4">
              Upload
            </BasicButtonLink>
          </li>
          <li>
            <BasicLink class="fs-16" icon="Notification"></BasicLink>

          </li>
          <li class="hide">
            <a class="fs-16 text-dark" href="">
              <BasicSvgIcon icon="Message"/>
            </a>
          </li>
          <li class="dropdown text-dark m-1-rem">
            <a class="text-dark" href="#">
              <span>
                <BasicSvgIcon icon="Profile"/>
              </span>
              <i class="text-dark bi bi-chevron-down"></i></a>
            <ul style="width: 215px; right: 0;">
              <li v-for="menu in dropDownMenu">
                <BasicLink v-if="menu.name !== 'Logout'"  :href="menu.path">
                  {{menu.name}}
                </BasicLink>
                <a style="cursor:pointer;" v-else @click="makeLogout">
                  Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
</template>

<script>
export default {
  setup() {

    const mainMenu = [
      {
        name: 'Tracks',
        path: '/tracks'
      },
      {
        name: 'Stations',
        path: '/stations'
      },
      {
        name: 'New & Popular',
        path: '/new-and-popular'
      },
      {
        name: 'My Streams',
        path: '/my-streams'
      },
      {
        name: 'My Playlist',
        path: '/my-playlist'
      },
    ];

    const dropDownMenu = [
      {
        name: 'My Profile',
        path: '/profile'
      },
      {
        name: 'My Uploads',
        path: '/my-uploads'
      },
      {
        name: 'Analytics & Finance',
        path: '/analytics-and-finance'
      },
      {
        name: 'Account Settings',
        path: '/account-settings'
      },
      {
        name: 'Support',
        path: '/contact-support'
      },
      {
        name: 'Logout',
        path: ''
      }
    ];

    const nuxtApp = useNuxtApp();
    let isLoggedIn = ref(false);
    isLoggedIn.value = nuxtApp.$auth.loggedIn;
    let logout = nuxtApp.$auth.logout;
    const scrollPosition = ref(0);
    const auth = nuxtApp.$auth;

    onMounted(() => {
      window.addEventListener("scroll", () => {
        scrollPosition.value = window.scrollY;
      });
    });

    function makeLogout(){
      nuxtApp.$auth.logout();
      isLoggedIn.value = false;
    }

    return {
      isLoggedIn,
      logout,
      auth,
      scrollPosition,
      mainMenu,
      dropDownMenu,
      makeLogout
    }
  }
}
</script>
<style>
  .bg-transparent{
    background-color: transparent !important;
  }


  header ul li a{
    text-decoration: none;
  }
  .primary-btn-color {
    color: #c638c8  !important;
    background-color: transparent !important;
  }
  .btn-hover .c-btn:hover{
    background-color: #fff !important;
    color:#c638c8 !important;
    border: 1px solid #c638c8 !important;
  }
  .btn-hover,.cursor-pointer{
    text-decoration: none !important;

  }
.m-upload-btn{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
  @media (max-width: 992px) {
    .d-xs-block {
      display: block !important;
    }
  }
  .main-search {
    background-color: #F5F5F5 !important;
    border-radius: 4px;
  }
  .menu-links {
    padding: 12px;
  }
  .has-search .form-control-feedback {

    right: 10px !important;
  }
.m-1-rem{
    margin-left: 1.5rem;
}
  .m-2-rem{
      margin-left: 2rem;
  }
</style>
