<template>
  <div class="row">
    <div v-if="createPath" class="col-lg-3 col-md-6 col-sm-12 mt-3 ">
      <BasicBlockAddNewBox :link="createPath" :isSliderView="false" type="station" />
    </div>
    <div v-for="(station, key) in stations" :key="key" :class="`station-`+station.id" class="col-lg-3 col-md-6 col-sm-12">
        <BasicCardStation
            :station="station"
            :isEdit="isEdit"
        />
    </div>

  </div>
</template>

<script>
export default {
  setup(){
    const carouselSettings = {
      itemsToShow: 1,
      itemsToScroll: 1,
      snapAlign: 'start',
      wrapAround: false,
    };

    const carouselBreakpoints = {
      740: {
        itemsToShow: 2,
      },
      1020: {
        itemsToShow: 5,
      }
    };

    return {carouselBreakpoints, carouselSettings}

  },
  props: {
    stations: {
      type: Array,
      default: []
    },
    createPath: {
      type: String,
      default: ''
    },
    createType: {
      type: String,
      default: 'tracks'
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  }

}
</script>
